{% extends 'base.html' %}
{% block main %}
<div class="page-content">
    <DIV id="page_1">

        <P class="p0 ft0">Addressing Misconceptions About Critical Race theory within <NOBR>K-12</NOBR>
            Classrooms</P>
        <P class="p1 ft1">By: Madison Rosensaft and Olivia Schmidt</P>
        <P class="p2 ft2">Introduction:</P>
        <P class="p3 ft1">Critical Race Theory had a <NOBR>long-winded</NOBR> pathway towards the controversy it
            has become today, and that is mostly due to a misunderstanding as to what Critical Race Theory is
            and conveys to do. Simply defined, Critical Race Theory is a theory that argues that racism has
            seeped into our law and modern institutions. The way we teach and have formed our society has
            created an uneven chance for people of color to attain the same life as white people. Critical Race
            Theory aims to convey that in every part of our society, especially in the way we teach our history,
            there is racism systematically ingrained. Critical Race Theory seeks to unravel and unveil how we
            have systematically undercut black people from our society and attempt to create an environment
            where we can try and start to level the playing field.<SPAN class="ft3">1 </SPAN>We can call it a
            lens to look through history in a more narrow attempt to understand what Critical Race Theory is.
            Activists and Lawmakers in the United States want to use this lens that Critical Race Theory is to
            look through and contextualize history. Critical Race Theory questions foundations and neutral
            principles on which our law and society law and call them into question as to how they contribute to
            the ongoing systematic racism in our country. Critical Race Theory's path to today is filled with
            many people, but we will talk about two who helped cement its importance in our culture.</P>
        <P class="p4 ft2">Background:</P>
        <P class="p5 ft1">The history of Critical Race Theory is filled with many names, but we will discuss how
            two specifically contributed to Critical Race Theory and its impact on our culture. Critical Race
            Theory was created in the middle of the 70s as many activists witnessed that the civil rights era
            ideas were being stalled and momentum had stopped. Derrick Bell, a Harvard Law school professor, is
            credited as the movement's intellectual father figure. Bell and others were examining supreme court
            cases such as Brown v Board of Education and laws from the civil rights era, which had been aimed at
            "fixing" the United States Injustices towards people of color. They examined laws that were supposed
            to have directly impacted things such as voting and wanted to figure out why the laws did not have
            the intended impact.<SPAN class="ft3">2 </SPAN>They realized there was a bigger problem at play. The
            concept they came up with was that there were stereotypes and racism <NOBR>deep-seated</NOBR> in our
            society and it was not just a specific issue such as black people getting turned away from the polls
            that could be fixed with a simple bill but a larger systemic issue that needed to be examined in
            America. But this concept was very high in academia and only really surfaced</P>

    </DIV>
    <DIV id="page_2">



        <P class="p8 ft1">in everyday culture in the 90s. During the Clinton administration, President Clinton
            appointed Lani Guinier to the department of justice. She was associated with ideas behind Critical
            Race Theory, which angered a lot of Republicans and made Democrats very nervous, so Clinton withdrew
            her Nomination. Guinier was a Pennsylvania Law professor, and during her nomination process, her
            writing became the focus of mainstream media outlets. Her ideas when it came to Critical Race Theory
            seemed so outlandish at the time she was belittled for touting <NOBR>‘un-American</NOBR> ideals. Her
            Nomination and then withdrawal signals how this concept was outside the mainstream and how it would
            be hard to integrate Critical Race Theory into our society. When it comes to the practicality of
            what teaching Critical Race Theory is, there can be a number of ways. The overall concept is to
            reteach and retrain the biases and systemic racism in our culture. An example of this is training
            which invites white workers to reexamine their white privilege within the system. Other ways are
            slowly to slowly integrate it into school curriculums and teach about American history in a light
            that does not shy away from talking about issues such as slavery and civil rights but moreover
            points out the systematic racism within our history books. Recently Critical Race Theory has been
            thrown into the spotlight as it has been slowly attempted to be integrated into school systems,
            which has thrown it into a controversial <NOBR>two-sided</NOBR> argument, between those who believe
            in teaching Critical Race Theory and those with the opposing belief.</P>
        <P class="p9 ft2">Common Misconceptions about Critical Race Theory</P>
        <P class="p10 ft10">The following section will address three major misconceptions about Critical Race
            Theory, starting with:</P>
        <P class="p11 ft2">1.) Critical Race Theory is an Unpatriotic and <NOBR>Anti-American</NOBR> Ideology.
        </P>
        <P class="p12 ft2">Argument Summary:</P>
        <P class="p13 ft1">One of the most common objections to the use of Critical Race Theory in early
            education in America is its alleged weaponization by advocates to “brainwash” children into
            rejecting more traditional values and views, by highlighting more negative aspects of our collective
            history. By bringing CRT to elementary curriculums, many hold that American youths will grow up to
            resent their nation and its problematic origins. Currently, 20 state attorney generals are
            “demanding that the Biden administration abandon proposals within the U.S. Department of Education
            to insert flawed curriculum into classrooms that rewrite American history.”<SPAN class="ft3">3
            </SPAN>Some of these individuals have even gone so far as to suggest that CRT is not a method
            through which to understand our past, but rather a dangerous <NOBR>anti-American</NOBR> doctrine. As
            Ohio Attorney General Dave Yost put it, “critical race theory is nothing more than ideology posing
            as history and we should not confuse the two.”<SPAN class="ft3">4</SPAN></P>

    </DIV>
    <DIV id="page_3">


        <DIV id="id3_1">
            <P class="p16 ft2">Clarification:</P>
            <P class="p17 ft1">Such arguments fail to understand the fundamental aspects of Critical Race
                Theory, chiefly that CRT is not a “revisionist” history, because it is not a comprehensive
                repackaging of history at all. It in itself does not a curriculum make. Instead, CRT is a lens
                through which to contextualize and analyze our current understanding of our history and present,
                illuminating certain misconceptions and erasures that have been perpetrated by a colonial and
                largely homogenous government and educational system. Additionally, and perhaps more
                importantly, many lawmakers are currently framing CRT as a Black v. white discourse that will
                further divide the nation by instilling guilt and shame in the caucasian population, and imbue
                people of color with a sense of anger and resentment towards the US for its many past (and
                ongoing) injustices towards its <NOBR>non-white</NOBR> occupants. It is essential to realize
                that while CRT was developed by, about, and for the Black community, it was and is not intended
                to be wielded in the way predominantly conservative politicians are alleging it will be.
                Instead, CRT seeks to explain and explore how race has been used as an instrument by the elite
                to divide and control populations in order to maintain authority and wealth. CRT is not just
                about one or two specific races. It is applicable to all.</P>
            <P class="p18 ft1">For example, if we were to look at the lower middle classes and down to the
                poverty line, there would be a pretty stark racial divide in party allegiance. “Poor” whites
                more commonly align with conservative politics, while people of color in the same category tend
                to identify with the progressive side. While there are a multitude of reasons for why this might
                occur, one of the more prominent explanations points to the perceived marginalization of poor
                whites. Many feel that their place in society, prospects, and affluence has been stolen from
                them over the past few decades (the great recession), and as such are justifiably upset. The
                same happened across many different <NOBR>non-white</NOBR> racial groups, particularly in Black
                and LatinX communities, but often on a more dramatic scale (think War on Drugs, urban decay,
                etc). Accordingly, the political arena and social discourse has been much more interested in the
                condition of the latter than the former. Therefore, the white underclass feels unappreciated and
                ignored, and blames BIPOC folx for the lack of accessible resources instead of the truly
                responsible entity (psst, government). Thus, party lines are usually drawn along a racial
                profile, based upon where each racial group feels they are more likely to be acknowledged,
                conservatives poaching white votes, progressives appealing to PoC.</P>
            <P class="p19 ft1">I just explained this historical trend by applying CRT to the events. I took
                undisputed historical realities and filtered them through a specific paradigm to land on this
                interpretation of the data. Other historians may come to different conclusions based upon which
                lens they approach history with, but that is the nature of history. It is an inherently
                interpretive field and has been since the dawn of humanity. If we can accept the presence of
                other lenses in historical academia, such as empirical, Marxist, and the Annales, then surely we
                as a society can potentially accommodate CRT.</P>
        </DIV>
        <DIV id="id3_2">
            <P class="p20 ft2">2.) Critical Race Theory aims to instill a sense of guilt in white children by
                teaching them that they are inherently racist.</P>
        </DIV>
    </DIV>
    <DIV id="page_4">
        <P class="p21 ft2">Argument Summary:</P>
        <P class="p22 ft1">One of the cornerstones of the <NOBR>anti-CRT</NOBR> movement in America is its
            anticipated negative impact on the mental health of white children. Many parents and legislators
            have shared distressing accounts of their children’s emotional trauma <NOBR>post-engagement</NOBR>
            with purportedly <NOBR>CRT-influenced</NOBR> history lessons. As one mother from Williamson County,
            Tennessee, shared before the district school board, her daughter came home and reported that she was
            “‘ashamed [to be] White,’” and repeatedly asked “‘Is there something wrong with me? Why am I hated
            so much?’” The mother went on to explain that her daughter is now in therapy for depression, and
            does not wish to return to school. “‘She is scared to death and has even had thoughts of killing
            herself. Again, we are talking about a <NOBR>seven-year-old</NOBR> child.’”<SPAN class="ft3">5
            </SPAN>Personal testimonies such as this are prevalent in the <NOBR>anti-CRT</NOBR> community and
            serve to further the misconception that CRT’s end goal is to promote an <NOBR>anti-white</NOBR>
            agenda.</P>
        <P class="p23 ft2">Clarification:</P>
        <P class="p17 ft1">A fundamental element of CRT inclusive pedagogy is the understanding that racism is
            present in everyday interactions and circumstances, whether it be intentional or unintentional.
            Equally importantly, CRT stresses that racism is not confined to the actions and convictions of
            individuals, but is manifested throughout our social systems, be it interpersonal, judicial,
            economic, etc. Part of accepting that we live in a racist society, that affords privileges to white
            citizens that it does not extend to people of color, is recognizing that if you are white, you are
            necessarily contributing to a racist cycle. It is not intrinsically our whiteness that is at fault,
            but rather all that it subconsciously and symbolically represents. While acknowledging this truth
            can indeed be a painful and uncomfortable process for white individuals, by grappling with our
            ancestors' transgressions and our complicity in America's racist reality, we are endeavoring
            together towards a more equitable future for all. By incorporating these issues into <NOBR>K-12
            </NOBR> curriculums, educators hope to mitigate potential trauma through extended and sensitive
            engagement with difficult topics. The response to this misconception is multifaceted.</P>
        <P class="p24 ft1">It must be acknowledged that the implementation of CRT in the classroom is intended
            to empower children of color in America. CRT seeks to do so by “contextualizing and addressing the
            racial disparities endemic to our educational system - teachers relieve students of color of some of
            the <NOBR>self-hatred</NOBR> and feelings of alienation that attend Eurocentrically focused <NOBR>
                K-12</NOBR> education.”<SPAN class="ft3">6 </SPAN>Additionally, by introducing students to
            concepts of racial disparity throughout history and the present day in an academic setting, CRT
            inclusive schools are teaching their pupils to identify and confront instances of racial injustice
            in their own lives. As for how the implementation of CRT directly benefits white students, we all
            must agree on a base assertion:</P>

    </DIV>
    <DIV id="page_5">

        <P class="p27 ft1">the objective of all educators is to prepare their charges for their future endeavors
            in a complicated world. Unfortunately for all involved, racism is an integral part of the fabric of
            our American identities, and therefore we would be remiss in denying our youth tools to navigate
            this reality. Many believe that CRT could be one of those tools. Historically, it aims to centralize
            more inclusive narratives and explain how we have become one of the most ethnically diverse nations
            on the planet. Operationally, CRT gives white students the critical knowledge and “intersectional
            insights requisite for equitably solving complex issues” imperative for success in an increasingly
            varied and mosaic world.<SPAN class="ft3">7</SPAN></P>
        <P class="p28 ft2">3.) BIPOC folx will inarguably benefit from the use of CRT in <NOBR>K-12</NOBR>
            classrooms.</P>
        <P class="p29 ft2">Argument Summary:</P>
        <P class="p13 ft1">The rationale for this argument is closely tied to the previous proposal, and thus we
            will explore it in less depth. Essentially, the premise holds an us vs. them mentality, where for
            one group to rise, the other must fall, i.e. for BIPOC folx to experience racial justice, white
            people must become the new racial “inferior”. Allegedly, blame for America’s societal woes will be
            “reassigned” to white people, while by the virtue of the color of their skin, BIPOC folx will
            inhabit the space vacated and experience all of its accompanying advantages. By seeing their peers’
            stories amplified and having their personal racial identities and experiences validated and explored
            in the classroom, the theory holds that children of color in America will be better equipped to
            address racial inequities in their own lives, while their white classmates are taught to be more
            racially sensitive and <NOBR>anti-racist.</NOBR>
        </P>
        <P class="p23 ft2">Clarification:</P>
        <P class="p30 ft1">It is crucial to relate that not all BIPOC folx feel that CRT will benefit American
            students of any background. Indeed, parents of color have become increasingly vocal in the past
            months with their doubts about CRT and its effectiveness in teaching <NOBR>anti-racism.</NOBR>
            Perhaps best known of these would be Quisha King, of Jacksonville, Florida, who has spoken out on
            various platforms against the implementation of CRT in classrooms. In a <NOBR>now-viral</NOBR> clip
            of the event, King admonished the state Board of Education for considering the adoption of CRT in
            its schools. “It is sad that we are even contemplating something like Critical Race Theory, where
            children will be separated by their skin color and deemed permanently oppressors or oppressed in
            2021” said King. “That is not teaching the truth unless you believe that whites are better than
            Blacks. Telling my child, or any child, that they are in a permanent oppressed status in America
            because they are Black is racist.”<SPAN class="ft3">8 </SPAN>Some people of color fear that by
            framing America as a divided nation of the oppressed and the oppressors, their children will grow up
            feeling disabled to enact change or improvement, as they were born a victim in a predatory society.
            To them, endorsing CRT represents placing a handicap on their child, as CRT implies that they were
            born into a broken</P>

    </DIV>
    <DIV id="page_6">


        <P class="p32 ft10">system that is hopelessly beyond repair. The fear is that if a child is taught from
            their infancy that the world will not allow them to succeed, what will the motivation be to even
            try?</P>
        <P class="p33 ft2">Conclusion:</P>
        <P class="p34 ft1">It is perhaps in part the fault of the numerous misconceptions surrounding Critical
            Race Theory that makes it difficult for so many of us to decidedly land on the pro or anti side of
            the discourse. One essential fact, however, is not up for debate: CRT has not been a part of our
            mainstream culture long enough for us to be able to track the impact of its purpose in our early
            education institutions. There physically is not enough data for us to be able to back either of the
            arguments definitively, as CRT only came into mainstream media, and accordingly evolved into a
            controversy, as it began to be actively integrated into <NOBR>K-12</NOBR> classrooms. Before, when
            it was confined to the realm of higher academia, it did not have such a high intensity of followers,
            which left it for much of its lifetime unexamined. As education systems are being increasingly
            compelled to provide transparency on their position on the issue, it will be interesting to follow
            this upcoming generation of students, as they navigate the world with, or without, the critical
            thinking skills CRT inclusive pedagogy aims to provide.</P>
    </DIV>
    <p class="ft2">Sources.</p>
    <div>
        <P class="p6 ft6"><SPAN class="ft4">1</SPAN><SPAN class="ft5"> Michael Barbaro, interview with Trip
                Gabriel, “The Debate Over Critical Race Theory” The Daily, Podcast Audio, July 2nd, 2021</SPAN>
        </P>
        <P class="p7 ft9"><SPAN class="ft7">2 </SPAN>Jean Stefancic and Richard Delgado, <SPAN class="ft8">Critical
                Race Theory </SPAN>(New York and London: New York University Press, 2001)
        </P>
        <P class="p14 ft15"><SPAN class="ft12">3 </SPAN><SPAN class="ft13">Monita Mungo, “The Real Problem with
                Critical Race Theory.” </SPAN><SPAN class="ft14">The Hill</SPAN>, May 26, 2021, <NOBR>
                thehill.com/opinion/civil-rights/555351-the-real-problem-with-critical-race-theory.</NOBR>
        </P>
        <P class="p15 ft15"><SPAN class="ft16">4 </SPAN>“Biden Administration to Impose Baseless Teachings of
            History on Classrooms”, <SPAN class="ft14">Ohio Attorney General Dave Yost, </SPAN>May 20, 2021
            <NOBR>
                https://www.ohioattorneygeneral.gov/Media/News-Releases/May-2021/AG-Yost-Biden-Administration-to-Impose-B
            </NOBR>
            <NOBR>aseless-Te</NOBR>
        </P>
        <P class="p25 ft19"><SPAN class="ft4">5</SPAN><SPAN class="ft17">Chris Butler, “Williamson County
                Parents Warn Critical Race Theory Has Already Entered Their Public School System” </SPAN><SPAN
                class="ft18">The Tennessee Star, </SPAN>April 22, 2021. <NOBR>
                https://tennesseestar.com/2021/04/22/williamson-county-parents-warn-critical-race-theory-has-already-e
            </NOBR>
            <NOBR>ntered-their</NOBR>
            <NOBR>public-school-system/</NOBR>
        </P>
        <P class="p26 ft9"><SPAN class="ft7">6 </SPAN>Matt Zalaznick, “Active disruption: Why critical race
            theory benefits all students” <SPAN class="ft8">District Administration, </SPAN>June 1, 2021. <NOBR>
                <SPAN
                    class="ft8">https://districtadministration.com/critical-race-theory-benefits-white-black-all-students/</SPAN>
            </NOBR>
        </P>
        <P class="p6 ft15"><SPAN class="ft4">7</SPAN><SPAN class="ft20">Matt Zalaznick, “Active disruption: Why
                critical race theory benefits all students” </SPAN><SPAN class="ft14">District Administration,
            </SPAN>June 1, 2021. <NOBR><SPAN
                    class="ft14">https://districtadministration.com/critical-race-theory-benefits-white-black-all-students/</SPAN>
            </NOBR>
        </P>
        <P class="p31 ft9"><SPAN class="ft21">8 </SPAN>Fox News, “Florida mom rips critical race theory: It's an
            'insult'”, <SPAN class="ft8">Fox and Friends Weekend, </SPAN>June 12, 2021
            https://www.youtube.com/watch?v=9pET0JPW6bo&t=36s</P>
    </div>
</div>
{% endblock %}