{% extends 'base.html' %} {% block main %}
<div class="page-content">

    <DIV id="page_1">


        <P class="p0 ft0">Alternative Media’s Role in Polarization and Democracy</P>
        <P class="p1 ft1">By Katrina Kuzmina, Mark Marino, Kayla Sloan</P>
        <P class="p2 ft2">Introduction</P>
        <P class="p3 ft1">For our project, we define alternative media as media sources that differ from established or
            dominant types of media (such as mainstream media or mass media) in terms of their content, production, or
            distribution. We placed alternative media into two categories: the first consists of producers who make
            alternative media their full or part time career through blogs, podcasts, substacks, and other forms of
            media, and the second comprises the everyday social media user who posts about politics on their account. As
            individuals outside of the corporate media system, these two types of users both work to create political
            content that differs from establishment media. The first category represents individuals or corporations
            providing different stories and infrastructure to consume news. The second category acknowledges that any
            social media user can spread information that differs from dominant narratives. Through this lens, we
            establish that amateurs play a role in alternative media online even if they do not describe themselves as
            journalists. Both work to create political content distinct from the establishment corporate media system.
        </P>
        <P class="p4 ft2">Thesis</P>
        <P class="p5 ft1">Since the 1970’s, more Americans have lost trust in mainstream media and switched over to
            alternative media as corporate media has forced a wedge between the ideology of the electorate and the
            status quo. We explore how this shift in the consumption and production of news gives political outsiders
            control of media in a way that both liberates and polarizes the electorate. We analyse the structures and
            mechanisms of social <NOBR>media—the</NOBR> main platform for alternative media <NOBR>distribution—how
            </NOBR> the capitalistic forces that drive social media contribute to polarization despite the increase in
            the variety of opinions available on social media. Despite the risk of political polarization, the
            popularity of alternative media has continued to rise; we attempt to understand the risks associated with
            alternative media and how to mitigate them while illuminating the benefits that consumers realize through
            alternative media.</P>
        <P class="p6 ft3">Alternative media is controversial because it has been accused of polarization and
            disinformation; we explore the reasons why more citizens turn to alternative sources, the risks associated
            with this shift in media consumption, and any hidden benefits to the rise in alternative media use.</P>
        <P class="p7 ft2">Comparing Mainstream and Alternative Media</P>
        <P class="p8 ft3">The United States has seen a major shift in public opinion about mainstream political media,
            with polls showing trust of mass news going from 72% in 1972 to 40% in 2020. To contextualize these
            statistics, it is important to understand that alternative media production had a steady and</P>
    </DIV>
    <DIV id="page_2">
        <DIV id="p2dimg1">
            <IMG src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMAAAAABCAIAAAAHCjZBAAAAD0lEQVQokWNgGAWjgAIAAAJBAAHdwPQrAAAAAElFTkSuQmCC"
                id="p2img1">
        </DIV>


        <P class="p9 ft1">consistent growth rate before the internet, but its rise boomed after the creation of the
            internet.<SPAN class="ft4">1 </SPAN>The current level of trust in American media is both the subject of
            polarization and a sign of partisanship in today’s politics, with 73% of Democrats having a fair amount or
            great deal of trust in mass media but only 10% of Republicans viewing mainstream media favorably in
            2020.<SPAN class="ft4">2 </SPAN>These statistics suggest that while there is polarization across different
            news sources within mainstream media, there are also partisan disparities between how likely Democrats and
            Republicans are to want to watch mass media in the first place. While this disparity in how the parties see
            mainstream media does not necessarily mean Republicans are more likely to watch alternative media than
            Democrats, the partisan dynamics of trust within alternative media represent a core divide in how different
            parties approach the corporate media establishment. Here, we will analyze how alternative media differs from
            mainstream media and the appeal of consuming news from independent sources.</P>
        <P class="p10 ft1">Alternative media gives organizers access to an unprecedented amount of freedom in journalism
            because they can use alternative media to post content without fear of the restrictions that are common in
            corporate media while interacting with strangers and friends using social media.<SPAN class="ft4">3
            </SPAN>Since the 1980s, scholars’ ideas of what makes media alternative have moved between three main
            components: producing one’s own content, critiquing systems of power, and consuming news that audiences
            consider to be radical.<SPAN class="ft4">4 </SPAN>Atkinson discusses how one of the main facets of
            alternative media’s power is the way it provides social movements a tool to create and distribute their own
            content independently to inform fellow activists and attract supporters to their cause.<SPAN class="ft4">5
            </SPAN>Even before the creation of the internet, it was common for activist groups like the Black Panther
            Party to produce and distribute newsletters and pamphlets to spread a message that challenged that of the
            “mainstream.”<SPAN class="ft4">6 </SPAN>Since the internet, activist recruitment through social media has
            provided a convenient vehicle for campaigns and organizations to expand their network to new members of the
            electorate. Political campaigns have made social media initiatives like #MyBernieStory, which was launched
            during Bernie Sanders’ 2020 presidential campaign, central pillars of their campaign strategy, especially
            when the campaign’s message conflicts with the ideology of mainstream media. By enabling people to wield
            greater control over their narratives, alternative media provides content producers the opportunity to
            reject false information about their goals and message. This control gives campaigns and movements leverage
            to keep their movement in the</P>
            
        <DIV id="p3dimg1">
            <IMG src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMAAAAABCAIAAAAHCjZBAAAAD0lEQVQokWNgGAWjgAIAAAJBAAHdwPQrAAAAAElFTkSuQmCC"
                id="p3img1">
        </DIV>
            
        <P class="p11 ft3", style="font-size: 11px"><SPAN class="ft5">1 </SPAN>Linda Jean Kenix, “The Future of Alternative Media?,” Observatorio
            Journal, vol. 5, no. 1 (2011): 187.</P>
        <P class="p12 ft1", style="font-size: 11px"><SPAN class="ft6",>2</SPAN><SPAN class="ft7">Megan Brenan. “Americans Remain Distrustful of
                Mass Media,” Gallup, September 30, 2020, </SPAN>
            <NOBR>https://news.gallup.com/poll/321116/americans-remain-distrustful-mass-media.aspx.</NOBR>
        </P>
        <P class="p0 ft1", style="font-size: 11px"><SPAN class="ft6">3 </SPAN>Zeynep Tufekci, “Signaling Power and Signaling to Power,” In
            Twitter and Tear Gas: The</P>
        <P class="p0 ft1", style="font-size: 11px">Power and Fragility of Networked Protest (Connecticut: Yale University Press, 2017), 191.</P>
        <P class="p0 ft1", style="font-size: 11px"><SPAN class="ft6">4 </SPAN>Joshua D. Atkinson, “Alternative Media,” In Journey Into Social
            Activism: Qualitative</P>
        <P class="p0 ft1", style="font-size: 11px">Approaches (New York: Fordham University Press, 2017), 178.</P>
        <P class="p0 ft1", style="font-size: 11px"><SPAN class="ft6">5 </SPAN>Atkinson, 173.</P>
        <P class="p0 ft1", style="font-size: 11px"><SPAN class="ft6">6 </SPAN>Alondra Nelson, “The People’s Free Medical Clinics,” In Body and
            Soul: The Black Panther</P>
        <P class="p13 ft3", style="font-size: 11px">Party and the Fight Agaisnt Medical Discrimination (Minnesota: University of Minnesota Press,
            2011), 91.</P>
    </DIV>
    <DIV id="page_3">
        <DIV id="p3dimg1">
            <IMG src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMAAAAABCAIAAAAHCjZBAAAAD0lEQVQokWNgGAWjgAIAAAJBAAHdwPQrAAAAAElFTkSuQmCC"
                id="p3img1">
        </DIV>

        <P class="p14 ft1">conversation even if mainstream news channels have moved on to a more trendy topic.<SPAN
                class="ft4">7 </SPAN>Since <NOBR>movement-building</NOBR> relies heavily on <NOBR>long-term</NOBR>
            recruitment and consistent pressure on politicians, the opportunity to promote a message through alternative
            media offers media producers greater control of their narratives and gives those narratives greater
            longevity.</P>
        <P class="p15 ft1">As part of our research, we reached out to our followers on social media to answer a survey
            about their media habits and beliefs about alternative and mainstream media. Although fifteen out of the
            <NOBR>twenty-one</NOBR> respondents still use mainstream sources like The New York Times and The Washington
            Post, our survey suggests that there is an appeal to using alternative sources, with only three respondents
            saying they do not use alternative media. In their short answers to our survey, six of the <NOBR>twenty-one
            </NOBR> respondents discuss how alternative media feels more convenient and more relatable because it comes
            from a demographic group that is often not represented in mass media. Two of the respondents mention that
            they find freedom in their media by reading independent sources that are not limited by a restrictive
            corporate news system. Four survey respondents were hesitant about misinformation on alternative media
            although they still use alternative media sources. Despite their concerns about alternative media, all but
            two respondents said that alternative media has encouraged their participation in the political process.
            When asked to choose which activities alternative media helped them engage in, 28.6% of the respondents said
            ‘volunteer for a political campaign or organization,’ 42.9% said ‘vote,’ 76.2% said ‘share political
            information on social media,’ 47.6% said ‘sign a petition,’ and one respondent said ‘make a monetary
            donation.’ While most respondents are still using mainstream media, the independent and inclusive nature of
            alternative media attracts them to it.</P>
        <P class="p16 ft1">While 61.9% of our survey respondents said they used online newspapers, only 19% said that
            they read paper newspapers. This is just one example of how more mainstream outlets have moved to what were
            once more alternative spaces, with mainstream media services like MSNBC, CNN, Fox, and The Hill publishing
            media on YouTube channels and Twitter accounts in addition to their regular programming. Corporate media’s
            presence of social media represents how alternative media and mainstream media have become more blended
            after social media and the internet became more ubiquitous in politics.<SPAN class="ft4">8 </SPAN>Because
            people associate radical news with alternative media, there is a lack of awareness that alternative media
            can have a corporate backing even if it does not have a corporate brand name. The influence of corporations
            on organizations that are considered ‘independent’ media suggests that one should not see “the division
            between alternative and mainstream media as a mutually exclusive binary.”<SPAN class="ft4">9 </SPAN>Every
            aspect of alternative media can have hidden backers and supporters whose influence may be played down to
            maintain the appearance of independence in a capitalist system where the news is <NOBR>profit-driven.</NOBR>
        </P>
        <P class="p4 ft2">Role of Capitalistic Forces in the Flow of Information on Social Media</P>

        <DIV id="p4dimg1">
            <IMG src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMAAAAABCAIAAAAHCjZBAAAAD0lEQVQokWNgGAWjgAIAAAJBAAHdwPQrAAAAAElFTkSuQmCC"
                id="p4img1">
        </DIV>

        <P class="p17 ft1", style="font-size: 11px"><SPAN class="ft6">7</SPAN><SPAN class="ft7">Tufekci, 204.</SPAN></P>
        <P class="p0 ft1", style="font-size: 11px"><SPAN class="ft6">8 </SPAN>Kenix, 192.</P>
        <P class="p0 ft1", style="font-size: 11px"><SPAN class="ft6">9 </SPAN>Kenix, 192.</P>

        <DIV id="p4dimg1">
            <IMG src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMAAAAABCAIAAAAHCjZBAAAAD0lEQVQokWNgGAWjgAIAAAJBAAHdwPQrAAAAAElFTkSuQmCC"
                id="p4img1">
        </DIV>

    </DIV>
    <DIV id="page_4">


        <P class="p18 ft1">Since alternative media sources are often not controlled by government authorities, it is
            common to assume that they are also untouched by bias and power dynamics. However, most distributors of
            alternative media on social media platforms are privately owned companies led by capitalistic values. While
            they may avoid influence from governmental authorities, many alternative media sources produce biased media
            due to the capitalistic framework in which they exist.</P>
        <P class="p19 ft1">Historically, alternative media, in the way we define it in this work, might be said to have
            originated with the appearance of the Internet and Web 2.0, which presumably offered a low barrier to entry
            for whoever wanted to share their opinions and interpretations with others. However, even though it was a
            space that seemed like it could serve as an ideal public forum, power ended up consolidated in the hands of
            influential groups and individuals who further shaped how alternative media is shared and distributed
            online.</P>
        <P class="p15 ft1">Since social media provides a very popular platform for alternative media, it is important to
            unpack the mechanisms behind social media platforms to understand the role of alternative media in current
            political polarization. Researcher Felix Stalder described social media structure as having a <NOBR>
                ‘front-end’</NOBR> and a <NOBR>‘back-end.’<SPAN class="ft4">10</SPAN></NOBR><SPAN class="ft4">
            </SPAN>According to his framework, the <NOBR>front-end</NOBR> is what the users interact with, and the
            <NOBR>back-end</NOBR> is what owners have access to. The values and goals of the <NOBR>back-end</NOBR> are
            often <NOBR>business-driven</NOBR> and inspired by profit. As a result, truthfulness and representation of
            diverse opinions are often not the priority for the <NOBR>back-end.</NOBR> The <NOBR>profit-driven</NOBR>
            nature of the <NOBR>back-end</NOBR> often affects the <NOBR>front-end</NOBR> users’ experience with
            alternative media, including alternative media that is published on social media platforms.</P>
        <P class="p20 ft1">At the Lewis & Clark’s 59th International Affairs Symposium, Professor Samuel Woolley,
            director of the Propaganda Research Center at the University of Texas at Austin, discussed how social media
            algorithms undermine democracy and deepen polarization by capitalizing on such biases as sensationalism and
            the popularity of trending stories.<SPAN class="ft4">11 </SPAN>The spread of content depends on its
            popularity as opposed to the truthfulness or diversity of the content. A conspiracy theory that proliferated
            after the Parkland shooting is an alarming example of how this dynamic works. In the wake of the shooting,
            the <NOBR>most-watched</NOBR> video on YouTube was about the conspiracy theory that David Hogg, a survivor
            of the shooting, was one of a group of paid crisis actors who travel between the sites of mass shootings.
        </P>
        <P class="p21 ft1">
            <NOBR>Back-end</NOBR> algorithms personalize and tailor content for users’ consumption online. This
            increases users’ time spent on a given platform and has obvious capitalistic benefits, but these algorithms
            can be harmful when it comes to political awareness. In the roundtable discussion Television in the Age of
            Pandemic Professor Reece Peck, who researches populist political rhetoric at City University of New York,
            calls the dynamic created by social media algorithms a “rabbit hole” because they send users down specific
            content paths online.<SPAN class="ft4">12 </SPAN>Reece Peck shares his concern about youth radicalization on
            social media, specifically on YouTube, prior to the 2016 elections.
        </P>

        <DIV id="p5dimg1">
            <IMG src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMAAAAABCAIAAAAHCjZBAAAAD0lEQVQokWNgGAWjgAIAAAJBAAHdwPQrAAAAAElFTkSuQmCC"
                id="p5img1">
        </DIV>

        <P class="p22 ft3", style="font-size: 11px"><SPAN class="ft6">10</SPAN><SPAN class="ft8">Felix Stalder, “Between Democracy and Spectacle:
                The </SPAN>
            <NOBR>Fron-End</NOBR> and <NOBR>Back-End</NOBR> of the Social Web,” In The social media reader (2012):
            <NOBR>242-256.</NOBR>
        </P>
        <P class="p0 ft1", style="font-size: 11px"><SPAN class="ft6">11</SPAN><SPAN class="ft7">Samuel Woolley, In Lewis & Clark’s 59th
                International Affairs Symposium (2021).</SPAN></P>
        <P class="p0 ft1", style="font-size: 11px"><SPAN class="ft6">12</SPAN><SPAN class="ft9">Reece Peck, In roundtable discussion Television
                in The Age of Pandemic (2021).</SPAN></P>

        <DIV id="p5dimg1">
            <IMG src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMAAAAABCAIAAAAHCjZBAAAAD0lEQVQokWNgGAWjgAIAAAJBAAHdwPQrAAAAAElFTkSuQmCC"
                id="p5img1">
        </DIV>

    </DIV>
    <DIV id="page_5">


        <P class="p23 ft1">Information personalization might be deepening polarization as well since it denies social
            media users exposure to a greater breadth of voices and opinions. Samuel Woolley explains that powerful
            political actors can use these social media algorithms to alter public opinion. As an illustration, he
            mentions how Chinese authorities employ large amounts of human labor to take advantage of algorithms in
            artificially popularizing authoritative values. Altogether, sensationalism, the priority given to popular
            stories, and content personalization engages users, increases the time that they spend on social media, and
            directly benefits social media platforms by driving their profits. Given the capitalist framework in which
            alternative media operates, those who wish to promote diversity of opinion, mitigate polarization, and truth
            on alternative media must decide to combat the “rabbit hole” effect and soothe political polarization.</P>
        <P class="p2 ft2">Imagining Responsible Alternative Media Use</P>
        <P class="p24 ft1">Recently, alternative and social media platforms have been accused of widening the political
            divide. However, alternative media may benefit society by spreading activism and oppositional narratives.
            Here, we will weigh the largest risks and benefits of alternative media in Western and <NOBR>non-Western
            </NOBR> settings. Understanding the nuances of alternative media’s effect on discourse and polarization will
            allow citizens to use these forms of media responsibly, while mitigating the risk of increased polarization.
        </P>
        <P class="p25 ft1">In order to examine the popularity of alternative media, we asked our survey respondents what
            alternative media they consume, and what they enjoy about these sources. The vast majority of respondents
            indicated that they use alternative media; the most popular explanations articulated that alternative media
            have a clear bias, cover specific issues more extensively, lack the influence of corporate interest, and can
            tailor stories towards their identities, such as their gender, religion, culture, or age. For some, the
            shift away from mainstream media is a result of declining trust in corporate gatekeeping institutions. For
            others, alternative media provides niche stories, perspectives, and personalities that mainstream outlets
            are not incentivized to publish. These results demonstrate how alternative media can create space for a
            greater diversity of views, even if those spaces are isolated and divided from one another.</P>
        <P class="p26 ft1">Aside from diversifying the marketplace of ideas, features of alternative media – mainly peer
            pressure, ‘rabbit holes,’ and hate groups – have potential to polarize the electorate. Pew Research Center
            finds that “the 10% of users who are most active in terms of tweeting are responsible for 80% of all tweets
            created by U.S. users.”<SPAN class="ft4">13 </SPAN>This vocal minority is not representative of the
            population, but the echo chamber that these users create heavily influences the rest of users who view
            twitter for news. Social media’s demographics create a perceived popularity of certain beliefs and policies,
            creating pressure for conformity of opinion. Studies have found that social media algorithms contribute to
            the creation of echo chambers by filtering content that conforms</P>

        <DIV id="p5dimg1">
            <IMG src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMAAAAABCAIAAAAHCjZBAAAAD0lEQVQokWNgGAWjgAIAAAJBAAHdwPQrAAAAAElFTkSuQmCC"
                id="p5img1">
        </DIV>

        <P class="p27 ft3", style="font-size: 11px"><SPAN class="ft6">13</SPAN><SPAN class="ft8">Adam Hughes and Stefan Wojcik “Sizing Up Twitter
                Users.” Pew Research Center, (April 24, 2019). </SPAN>
            <NOBR>https://www.pewresearch.org/internet/2019/04/24/sizing-up-twitter-users/.</NOBR>
        </P>
    </DIV>
    <DIV id="page_6">
        <DIV id="p6dimg1">
            <IMG src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMAAAAABCAIAAAAHCjZBAAAAD0lEQVQokWNgGAWjgAIAAAJBAAHdwPQrAAAAAElFTkSuQmCC"
                id="p6img1">
        </DIV>


        <P class="p28 ft1">to a user’s <NOBR>pre-existing</NOBR> biases.<SPAN class="ft4">14 </SPAN>Markus Prior
            compiled several studies on the impacts of social media stories. He found that while users may be more
            polarized by biased content when they are <NOBR>ill-informed,</NOBR> “balanced news can polarize attitudes
            when ideological recipients dismiss and <NOBR>counter-argue</NOBR>
            <NOBR>attitude-inconsistent</NOBR> information while embracing <NOBR>attitude-consistent</NOBR>
            information.” According to Prior, this pattern of confirmation bias “makes it empirically difficult to
            distinguish the impact of more partisan media from the impact of more polarized parties.”<SPAN
                class="ft4">15 </SPAN>If neutral content triggers an ideological defense from partisans, then
            alternative media cannot bear all the blame for polarization.
        </P>
        <P class="p29 ft1">Perhaps the most dangerous defect of social media is its ability to spread hate speech, since
            “extreme voices are propagated through social media and this has real implications for hate crimes.”<SPAN
                class="ft4">16 </SPAN>Currently, social media outlets regulate posts and groups that further hate
            speech.</P>
        <P class="p23 ft1">Violent speech published on alternative media should not be protected because its
            dissemination on social media can radicalize groups towards assault, battery, murder, or terrorism. However,
            the power of censorship quickly becomes a First Amendment issue if niche media outlets publish information
            that contradicts the government, especially when the truth is not definitive. For example, social media
            companies flagged posts and struck down articles that promoted the Wuhan Accidental Lab Leak Theory, which
            has since been recognized by the US Government as a leading possibility of <NOBR>COVID-19’s</NOBR> origin.
        </P>
        <P class="p30 ft1">Prior’s research suggests that news exposure will not combat the polarization of those who
            already identify with a political ideology. If his conclusion is correct, then limiting the ill effects of
            alternative media requires a fresh perspective. First, some degree of polarization must be accepted, since
            the internet has undoubtedly exposed more individuals to a broader range of ideas. Acceptance of this
            burgeoning political diversity can be complemented by the teaching of several shared values. Digital
            citizenship can teach users to follow some practices of common etiquette. Tolerance of people’s differences,
            and a commitment to free speech can limit division. These principles can be seen as unifying, even when
            people disagree on policy. Lastly, since alternative media spreads most through social media, proper
            gatekeeping can filter out content that supports violence. Using social media as a filter is convenient for
            users who want to quickly access content tailored to them, but curation of content must remain under strict
            scrutiny to prevent the partisan censorship of ideas.</P>
        <P class="p31 ft1">While the risks of alternative media certainly require attention, we now seek to understand
            how alternative media may foster political engagement and activism. Many survey respondents stated that
            alternative media influenced their decision to participate in a multitude of political activities, such as
            signing petitions, attending protests, and voting. Furthermore, the “positive effect of</P>

        <DIV id="p7dimg1">
            <IMG src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMAAAAABCAIAAAAHCjZBAAAAD0lEQVQokWNgGAWjgAIAAAJBAAHdwPQrAAAAAElFTkSuQmCC"
                id="p7img1">
        </DIV>
        <P class="p32 ft3", style="font-size: 11px"><SPAN class="ft6">14</SPAN><SPAN class="ft8">Ekaterina Zhuravskaya et al., “Political Effects
                of the Internet and Social Media,” Annual Review of Economics 12, (August 2020): 424.</SPAN></P>
        <P class="p23 ft1", style="font-size: 11px"><SPAN class="ft6">15</SPAN><SPAN class="ft7">Markus Prior, “Media and Political
                Polarization,” Annual Review of Political Science 16, (May 2013): 109.</SPAN></P>
        <P class="p0 ft1", style="font-size: 11px"><SPAN class="ft6">16</SPAN><SPAN class="ft9">Zhuravskaya et al., 427.</SPAN></P>
    </DIV>
    <DIV id="page_7">
        <DIV id="p7dimg1">
            <IMG src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMAAAAABCAIAAAAHCjZBAAAAD0lEQVQokWNgGAWjgAIAAAJBAAHdwPQrAAAAAElFTkSuQmCC"
                id="p7img1">
        </DIV>


        <P class="p33 ft3">Twitter on turnout could be a consequence of peer pressure at the time of the
            elections.”<SPAN class="ft10">17 </SPAN>Increased turnout in elections can be partially attributed to social
            media presence.</P>
        <P class="p34 ft1">Furthermore, the spread of the internet has increased public awareness of government
            corruption and decreased the approval of ruling parties in Western democracies.<SPAN class="ft4">18
            </SPAN>This was confirmed by our survey, where a large number of respondents share their distrust in
            mainstream outlets. While distrust of government seems like a problem for democracies, the press has
            historically served as an institution that fights against authoritarianism and encroachment by government.
            As trust in mainstream corporate media fades, alternative sources with transparent biases and agendas can
            take up the mantle as a political watchdog. Multiple alternative sources can check the actions of the
            government in particular areas of life.</P>
        <P class="p15 ft1">The benefit of political engagement sparked by alternative media seems even more apparent for
            citizens living under autocratic regimes. In nations without freedom of the press, alternative media and
            social media tend to become the same thing. Autocratic regimes tend to have total control over mainstream
            media coverage. Therefore, accessing any information from Western sources on social media can be defined as
            alternative media in these countries. Social media was crucial for organizing the Arab Spring uprising in
            Egypt: the “number of Twitter posts with keywords related to Tahrir Square was predictive of the number of
            participants in the protests the next day in the plaza.”<SPAN class="ft4">19 </SPAN>Social media
            coordination between 14 million geolocated users was tied to protests in 16 Middle Eastern nations. In his
            book on social activism, Joshua Atkinson analyzes the role that alternative media sources play in autocratic
            regimes. He analyzes the Independent Communication Network (ICN), a <NOBR>pro-democratic</NOBR> alternative
            media source in Turkey. This website turns its audience base into local correspondents. While verifying
            crowd sourced stories may be difficult, ICN’s followers trust this source, either because they use ICN to
            identify with a <NOBR>like-minded</NOBR> activist community, or simply because there are no other <NOBR>
                pro-democratic</NOBR> sources that Turkish readers can access that come directly out of Turkey. The ICN
            does have leadership who can administer stories, and a strong commitment to liberalism creates surprising
            levels of unity despite a decentralized approach: “the ICN website built a series of intertwined political
            and social relationships that constituted a complex counter public; such a <NOBR>counter-public</NOBR> could
            effectively voice concerns to the citizenry about human rights violations or oppressive practice.”<SPAN
                class="ft4">20 </SPAN>Turning the audience into a producer enables a plethora of local issues to be
            shared nationwide, unifying activists under a common cause. A decentralized approach to media also makes it
            more difficult for the government to destroy the dissemination of free information.</P>
        <P class="p35 ft1">While similar activity in the West might be regarded as an echo chamber, in Turkey, where
            free speech is much more limited in mainstream media, alternative media’s presence serves to combat
            government human rights violations and promote liberalism. Despite the success of ICN in Turkey, it is
            important to note that creating these alternative communities within an autocratic</P>

        <DIV id="p8dimg1">
            <IMG src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMAAAAABCAIAAAAHCjZBAAAAD0lEQVQokWNgGAWjgAIAAAJBAAHdwPQrAAAAAElFTkSuQmCC"
                id="p8img1">
        </DIV>

        <P class="p36 ft1", style="font-size: 11px"><SPAN class="ft6">17</SPAN><SPAN class="ft9">Zhuravskaya et al., 420.</SPAN></P>
        <P class="p0 ft1", style="font-size: 11px"><SPAN class="ft6">18</SPAN><SPAN class="ft9">Zhuravskaya et al., 419.</SPAN></P>
        <P class="p0 ft1", style="font-size: 11px"><SPAN class="ft6">19</SPAN><SPAN class="ft9">Zhuravskaya et al., 421.</SPAN></P>
        <P class="p0 ft1", style="font-size: 11px"><SPAN class="ft6">20</SPAN><SPAN class="ft9">Atkinson, 181.</SPAN></P>
    </DIV>
    <DIV id="page_8">
        <DIV id="p8dimg1">
            <IMG src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMAAAAABCAIAAAAHCjZBAAAAD0lEQVQokWNgGAWjgAIAAAJBAAHdwPQrAAAAAElFTkSuQmCC"
                id="p8img1">
        </DIV>


        <DIV id="id8_1">
            <P class="p37 ft3">nation can prove more difficult in nations like China and Iran, where firewalls are
                employed to block the dissemination of information that clashes with state interests.</P>
            <P class="p38 ft1">Turkish sociologist Zeynep Tufekci explains how activists in autocratic countries use VPN
                and Tor to access Western sources and social media. In her book, Twitter and Tear Gas, she demonstrates
                that these subversive internet users can export Western information to their social cells. She states
                that “without traditional trusted institutional gatekeepers, it is quite difficult for an ordinary
                person to know what is true and what is a hoax, or who is reliable and who is untrustworthy.”<SPAN
                    class="ft4">21 </SPAN>This concern arises in autocratic regimes because, in essence, an activist who
                disseminates Western media to their social sphere becomes a regulator of media. However, without a free
                press, decentralized alternative media becomes the only avenue for individuals to search for truth, and
                build <NOBR>like-minded</NOBR> underground communities.</P>
            <P class="p2 ft2">Conclusion</P>
            <P class="p39 ft1">Ultimately, alternative media is a tool. It can work through social media platforms to
                provide a way for diverse individuals to find news and content that fits their personal preferences. The
                ability for political outsiders to produce their own media can feel liberating during a time when people
                have a higher level of distrust towards media that is influenced by</P>
            <P class="p28 ft1">corporate interests. Alternative media can subvert an elite establishment, highlight
                local issues, and protect against government corruption. Alternative media drives protests and educates
                democratic activists, especially in autocratic nations where there is a tighter grip of control on the
                content available to citizens. However, this tool can be dangerous when capitalist powers control the
                <NOBR>back-end</NOBR> of social media or when authoritarian democracies use it as a form of control.
                Alternative media can facilitate the creation of a group psyche where people seek their <NOBR>in-group
                </NOBR> and share content within a limited network.</P>
            <P class="p40 ft1">Extremists and violent actors pose another challenge for the responsible use of
                alternative media in the future since they are prevalent in alternative media platforms. Some level of
                regulation of their behavior is important for the future of journalism. The United States needs to come
                to terms with the fact that alternative media represents more fringe perspectives that expand the
                political spectrum and create a more fragmented way of engaging in politics. A form of education that
                instills principles of tolerance and liberty will also keep the expanding world of online journalism
                safe and respectful. Instead of censoring novel journalistic opinions in a widening public space, we
                believe that minor acts of regulation and the promotion of etiquette through digital citizenship classes
                can moderate the new public square without censoring atypical views or dissenting opinions. There should
                also be transparency in how the <NOBR>back-end</NOBR> of social media works to correct the widespread
                assumption that there are no corporate influences regulating social media spaces. Alternative media has
                built a robust and liberated following in today’s world, and it can improve society and democracy in the
                future but only if its flaws are handled properly to prevent polarization and corporate manipulation.
            </P>
        </DIV>

        <DIV id="p8dimg1">
            <IMG src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMAAAAABCAIAAAAHCjZBAAAAD0lEQVQokWNgGAWjgAIAAAJBAAHdwPQrAAAAAElFTkSuQmCC"
                id="p8img1">
        </DIV>

        <DIV id="id8_2">
            <P class="p0 ft1", style="font-size: 11px" ><SPAN class="ft6">21</SPAN><SPAN class="ft9">Tufekci, 231.</SPAN></P>
        </DIV>

        <DIV id="p8dimg1">
            <IMG src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMAAAAABCAIAAAAHCjZBAAAAD0lEQVQokWNgGAWjgAIAAAJBAAHdwPQrAAAAAElFTkSuQmCC"
                id="p8img1">
        </DIV>
    </DIV>
    <DIV id="page_9">


        <P class="p0 ft2">Appendix</P>
        <P class="p41 ft1">In addition to research in political science journals and relevant statistics, we sought to
            survey a range of people to ascertain their media habits. We created a Google survey and distributed it
            through social media. The purpose of this research was to hear directly from people about what media sources
            they choose to consume and why they find those sources valuable. Our results indicated a strong affinity for
            alternative media across respondents and found a correlation between access to alternative media and
            participation in both online and <NOBR>in-person</NOBR> political activity. However, we cannot generalize
            the results of our study since the survey respondents come from a population skewed towards people of a
            younger age. It is a small survey size that is certainly not a representative sample of the U.S. population
            as a whole. Nonetheless, we use the survey to explore possible reasons why citizens are increasingly turning
            to alternative media.</P>
    </DIV>
{% endblock %}