{% extends 'base.html' %} {% block main %}    <div class="page-content">
        <DIV id="page_1">


            <P class="p0 ft0">Bisexuality in America</P>
            <P class="p1 ft1">By Zachary Steward and Elena Dixon</P>
            <P class="p2 ft1">Before you ask, no, we are not going to cheat on you. Hi, our names are Elena Dixon
                (she/her/hers) and Zach Steward (he/him/his), and we are both bisexual. Gosh, that was a little abrupt,
                wasn’t it? But that is how coming out is. You can prepare for it all you want; you can set yourself up,
                a speech prepared, heart racing, palms sweating, and your future will still be uncertain. Coming out
                never stops. It is not always rainbows and flags and <NOBR>sit-down</NOBR> conversations. Sometimes it
                is as simple as mentioning your partner in passing during conversation with a new acquaintance.
                Sometimes it is as shocking as a family member declaring their homophobia and a sudden realization that
                you are someone they hate. Coming out is the first step, one that you are constantly taking for the rest
                of your life. There is always an abruptness about it. There is always some uncertainty. There is always
                some fear. However, before and after you come out, there are other aspects of the LGBTQ+ experience that
                must be reckoned with. Sometimes people seem to think that people stay in the closet because they do not
                want to face the effects of bigotry towards the LGBTQ+ community. I counter this by saying that the
                existence of a proverbial closet at all is a testament to the fact that bigotry is a nasty shadow that
                falls over all members of the LGBTQ+ community, whether they are out or not. Part of the beauty of the
                LGBTQ+ community, and part of the battle, is that every experience is different. In this article, Zach
                and myself will be attempting to shed some light on the experience of the B in LGBTQ+. We acknowledge
                that our experiences and thoughts here are purely our own, as we cannot speak for every bisexual out
                there. However, we will do our best to highlight some of the issues that primarily and specifically
                affect bisexual people. First, it seems as though we should make it clear what the definition of
                bisexuality is in relation to this article. Bisexuality is a sexuality that defines a person as having
                an attraction to two or more genders. No, the “bi” in bisexual does not limit bisexuality to being an
                attraction to only two genders. Two or more people. Two or more. With this definition established, let
                us continue on into the fathomable and hitherto explored depths of bisexuality. In saying this, I wish
                to express that Zach and myself are certainly not the first people to explore this topic, nor will we be
                the last. The reason we are here, able to speak confidently and with pride about our own experiences
                with the intent to hopefully shed some light on the lived experiences of bisexual people, is because of
                the many, many people who came before us. The LGBTQ+ community is just that – a community. And we are
                nothing without those who came before us.</P>
            <P class="p3 ft1">Bisexuality is something that cannot be placed in one single box. However, people still
                try. Bisexuals are not, as is commonly asserted, <NOBR>“half-straight”</NOBR> or <NOBR>“half-gay;”
                </NOBR> they are wholly bisexual. <NOBR>Bi-erasure</NOBR> is the term which seeks to define this
                particular strain of biphobia, “this” being not simple hatred of bisexual people (which the overall
                umbrella term “biphobia” suggests),</P>
        </DIV>
        <DIV id="page_2">


            <P class="p4">but rather the careful, systemic, and quiet assertion that bisexuality does not exist.
                <NOBR>Bi-erasure</NOBR> is, as the name suggests, the erasure of bisexuality.</P>
            <P class="p5 ft1">
                <NOBR>Bi-erasure</NOBR> has many different flavors. These include, but are not limited to, referring to
                bisexual people as either straight or gay (particularly depending on whether a bisexual person is in a
                relationship that can be defined heteronormatively as either homosexual or heterosexual in nature),
                reinforcing the myth of <NOBR>“straight-passing,”</NOBR> and the general (and all too common) assertion
                that bisexuality does not exist as its own sexuality but is instead merely a stepping stone on the path
                to realizing one is gay.
            </P>
            <P class="p6 ft1">
                <NOBR>Bi-erasure</NOBR> is a form of biphobia, however it is not simply biphobia. <NOBR>Bi-erasure
                </NOBR> is more than just hating bisexual people, it is the careful, systemic, and constant undermining
                of bisexuality as a legitimate sexuality at all. Simple hatred does, in a sense, force someone to
                acknowledge that the thing they hate is real. <NOBR>Bi-phobia</NOBR> is not only hatred, it is denial.
                Biphobia remains an issue that bisexual people have to fight against their entire lives, in part because
                of how ingrained <NOBR>bi-erasure</NOBR> is in both straight and LGBTQ+ people. <NOBR>Bi-erasure</NOBR>
                is not as loud and declarative as a sign that says “god hates the Gays” (that capitalization was
                purposeful on my part and would never show up on an actual protest sign, but I have to rebel in these
                small ways). <NOBR>Bi-erasure</NOBR> is not simple hatred, it is the careful, systemic, and constant
                dismantling of bisexuality as a legitimate sexuality.
            </P>
            <P class="p7 ft1">
                <NOBR>Bi-erasure</NOBR> has become a more prevalent part of my life since coming out and it has, as
                oppressive things so quickly do, become a part of my thought process. I have begun, unconsciously, to
                anticipate <NOBR>bi-erasure</NOBR> as a constant as I move through life. I know, for example, that if I
                begin a relationship with a man, or <NOBR>male-presenting</NOBR> person, it will inevitably lead to
            </P>
            <P class="p8 ft1">those around me assuming that I am straight. I also know that if I begin a relationship
                with a woman, or <NOBR>female-presenting</NOBR> person, those around me will assume that I am gay. While
                both of these options are equally incorrect and equally insulting to my sexuality, the idea of being
                thought of as straight gives me far more anxiety. For a large portion of my life I tried to define
                myself in a way that allowed me to fit in the box labeled straight (turns out I actually was only
                cushioning myself further into the closet labeled “naïve bisexual”). The thought of being in a <NOBR>
                    “straight-passing”</NOBR> relationship brings me more anxiety because it returns me to the
                anticipated, normal state. It is a return to heteronormativity. It is the presence of comments such as
                “you’re bisexual? But you’re in a relationship with a man?” as though I have to be in a relationship
                with a woman in order to be bisexual. This feels like the perfect transition into an explanation of the
                myth of <NOBR>“straight-passing.”</NOBR> The term <NOBR>straight-passing</NOBR> has, as I see it,
                multiple meanings. The two that I will describe here are A) straight passing as an individual and B)
                <NOBR>straight-passing</NOBR> in relation to another. <NOBR>Straight-passing</NOBR> as an individual is
                what I thought I did for years. That is, until I came out to my best friend and she said “yeah. I know.
                No one is that into Zoe Kravitz and straight.” <NOBR>Straight-passing</NOBR> as an individual means that
                you are someone who, as an individual person, is assumed to be straight. If you are viewing the world
                through rose colored glasses, nothing is going to look quite right. If you view the world only in terms
                of heteronormativity and straightness, no one you look at is going to be anything other than straight.
                Now, onto the second form of <NOBR>straight-passing.</NOBR>
                <NOBR>Straight-passing</NOBR> in a relationship means that you are in a relationship
            </P>
        </DIV>
        <DIV id="page_3">


            <P class="p0 ft1">that is heterosexual and therefore you are perceived to be heterosexual. The fact is that
                sexuality is not defined by relationships. Bisexual people in heterosexual relationships are not
                heterosexual; they are bisexual people in heterosexual relationships. Sexuality is not defined by, and
                extends far beyond the limits of, relationships. Limiting people and their sexualities to those they are
                in a relationship with is continuing to place oppressive definitions on that which cannot and should not
                be firmly defined. And, as an extension to this thought about relationships, and a continuation of the
                first sentence of this work, there is a common misconception (among everyone, not just straight people)
                that bisexual people are more likely to cheat in relationships. The reasoning behind this is that
                bisexual people have “more options” and therefore will be more likely to cheat. I’m here to tell you
                right now that if a bisexual person cheats on you, it’s because they are a cheater, not because they are
                bisexual. The last, but certainly not least, way in which <NOBR>bi-erasure</NOBR> presents itself is
                through the assertion that bisexuality is only a stepping stone for people on their path to realizing
                that they are gay. Sexuality is not stagnant. While it is true that some people identify as bisexual
                before coming out as gay, this does not delegitimize all bisexual people, nor does it delegitimize a
                person who is bi for only a certain period of time. Bisexuality is a valid and independent sexuality, no
                matter how long someone is bisexual. Just as people grow and change, so does sexuality.</P>
            <P class="p9">Now that we have established some theories and definitions about biphobia and <NOBR>
                    bi-erasure,</NOBR> I think this is a good time to present some concerning statistics about
                bisexuality.</P>
            <P class="p0 ft1">Biphobia and <NOBR>bi-erasure</NOBR> are not just terms that are thrown around to lump
                bigoted behavior under a defined umbrella: they are the broad terms given to the systemic and
                statistically proven oppression that bisexual people face. The CDC published a survey <NOBR>
                    (https://www.cdc.gov/violenceprevention/pdf/cdc_nisvs_victimization_final-a.pdf)</NOBR> from the
                National Intimate Partner and Sexual Violence Survey (NISVS) which stated that 61% of bisexual women and
                37% of bisexual men experience “rape, physical violence, and/or stalking by an intimate partner in their
                lifetime.” This same survey also stated that bisexual women experience sexual assault from a younger age
                and that the rate of stalking is doubled for bisexual women when compared with straight women. And now,
                with great excitement at the prospect of reading what he has to say, I will pass the narrative over to
                my partner in pen, Zach.</P>
            <P class="p10 ft1">For me, understanding my bisexuality has been much easier in college than when I was
                younger. Although UMass is a predominantly white institution like my high school, I feel much more
                comfortable and at ease knowing that there are others that look like me and can relate to experiences
                that I’ve had and am having. Before coming to UMass I went to a predominantly white high school. Not
                knowing anyone there and questioning my sexuality at the same time made things difficult. I felt as
                though I couldn’t connect with people, and the school’s Gay Straight Alliance was made up of mostly
                white people, so I wasn’t comfortable being in that space. It made the last two years of high school
                awkward at times, juggling the different responsibilities that I had and exploring my sexuality. I was
                working, part of an organization, and taking classes. It made me put my sexuality on the backburner.
                Similar to Elena, I have been questioned about “how bi” I am, depending on how I interact with different
                people and move</P>
        </DIV>
        <DIV id="page_4">


            <P class="p11 ft1">through the world. As an example, when I came out to my mom, she believed (still does)
                that I’m gay, even though I’m not. I’ve tried explaining it to her, and yet she doesn’t listen. We don’t
                talk much about it because it doesn’t serve me. If she wants to believe that I’m gay when I’m not,
                that’s up to her. My maternal grandmother doesn’t know, she grew up at a time where the “traditional”
                ideal was that a romantic relationship is between a man and a woman. When my cousin came out, she wasn’t
                very thrilled, but she seems somewhat more mellow with it now that she’s a <NOBR>great-grandmother
                </NOBR> (my cousin adopted). I’m becoming more comfortable not having to prove myself to anyone, family
                included, although it’s a work in progress. In terms of getting involved at school, I haven’t had the
                opportunity to connect with the LGBTQIA+ center on campus <NOBR>in-depth,</NOBR> but the hope is to do
                so when I get back in the fall. Additionally, I want to make connections outside of the center so I can
                know more QTPOC and feel more at ease on campus. Being in a predominantly white environment isn’t easy,
                but having people that look like me and/or that identify as LGBTQIA+ can make the experience easier, as
                these are two identities I want to explore more at UMass, and hopefully take what I learn about myself
                while there and use those lessons later in life.</P>
            <P class="p12 ft1">Thank you very much for reading through these cobbled thoughts and feelings about how the
                lives of Bisexual people in America can be sculpted and changed by oppressive forces like biphobia. We
                would like to reiterate here that the definitons and expereinces that we use are by no means universal,
                and every bisexual person will have a different experience. Those experiences are all valid, and Zach
                and myself encourage you all to do your best to surround yourself with diverse narratives that present
                as many perspectives and experiences as possible. The best way to grow and change and learn is to
                actively participate in and listen to conversations that others are having. Once we expose ourselves to
                new ideas and possibilities, once we allow progress and growth to motivate our desire for change, and
                once we see the human in every person around us, regardless of their race, gender, sexuality, religion,
                or abilities, we will truly be able to move forward into a better, more equal, and prosperous future.
                This work will conclude with stats gathered by Zach.</P>
            <P class="p13 ft2">Useful Statistics</P>
            <P class="p0 ft1"><SPAN class="ft1">●</SPAN><SPAN class="ft4">Bisexual people make up 40% of the LGBTQ+
                    community</SPAN></P>
            <P class="p14 ft1"><SPAN class="ft1">●</SPAN><SPAN class="ft5">13% of bi+ youth received information about
                    safer sex that is relevant to their identity </p></SPAN>
            <p>● 58% of transgender &
                <NOBR>gender-expansive</NOBR> youth identify as bi
            </P>
            <P class="p15 ft1"><SPAN class="ft1">●</SPAN><SPAN class="ft6">Only 11% of bi+ youth of color think their
                    racial/ethnic group is regarded positively or very positively in the U.S.</SPAN></P>
            <P class="p16 ft1"><SPAN class="ft1">●</SPAN><SPAN class="ft6">68% of bi+ youth report being teased or
                    treated poorly because of their sexual orientation </SPAN>
            </P>
            <p>
                    ● Almost ½ of people that identify as bi have
                    experienced biphobia in medical settings</SPAN></P>
            <P class="p0 ft1"><SPAN class="ft1">●</SPAN><SPAN class="ft4">75% of bi women experience sexual
                    violence</SPAN></P>
            <P class="p0 ft1"><SPAN class="ft1">●</SPAN><SPAN class="ft4">39% of bi men and 33% of bi women don’t
                    disclose sexual orientation to medical providers</SPAN></P>
            <P class="p0 ft1"><SPAN class="ft1">●</SPAN><SPAN class="ft4">20% of bisexuals say being bisexual is
                    extremely or very important to their overall identity</SPAN></P>
            <P class="p0 ft1"><SPAN class="ft1">●</SPAN><SPAN class="ft4">28% of bisexuals say all or most of the
                    important people in their life know they are bisexual</SPAN></P>
        </DIV>
        <DIV id="page_5">


            <P class="p0 ft1">Sources: Pew Research Center, The Trevor Project, the Boston Globe</P>
        </DIV>
    </div>
</BODY>
<script src="{{ url_for('static', filename='app.js') }}" defer></script>
</HTML>{% endblock %}