{% extends 'base.html' %} {% block main %}  <div class="page-content">
    <DIV id="page_1">


      <h2 class="p0 ft0">Fear on The Bounds: Border rhetoric and policies of modern American politics</h2>
      <P class="p1 ft1">By Gabrielle Watson & Carter George</P>
      <P class="p2 ft1">“Our objective is straightforward: The border should be open to trade and lawful immigration,
        and shut to illegal immigrants, as well as criminals, drug dealers, and terrorists.” George W. Bush’s framing of
        his administration’s border agenda lies in a comfortable place for most American politicians and voters.
        Americans feel secure in using this dualistic language to order their thinking about the southern border. The
        second Bush administration didn’t invent the idea that our border is an aperture for malice and opportunity as
        long as it remains permeable. The logic of Manifest Destiny was in part motivated by this perception. Though we
        often associate westward expansion with images of civilian settlers and pioneers, these territories were
        subjugated and incorporated by force of arms. Forgotten conflicts like the Cherokee Wars conquered indigenous
        peoples and opened the way for white settlement.</P>
      <P class="p3 ft1">The logic of a civilizing, white settler state claiming lawless or improperly governed land was
        the driving force behind Manifest Destiny The potent fear of “the other” has resulted in American border patrol
        and immigration policies recycling (and in some cases amplifying) the idea that our borders are all that
        separate order from disorder. When analyzing U.S. policy surrounding the <NOBR>U.S-Mexico</NOBR> border, it’s
        apparent that a politics of fear animates militarization of border policy. Each decade for the last 40 years has
        been marked by a notable piece of border legislation whose language and proponents continued to advance this
        narrative of the border. Although the language within and surrounding each policy may differ, their underlying
        intentions remain the same: to defend the “us” from the “them.”</P>
      <P class="p4 ft1">The 1986 IRCA marked the first major revision to U.S. immigration law in decades. Its purpose?
        To preserve jobs for those deemed entitled to employment, which largely boiled down to two groups: citizens and
        <NOBR>“work-authorized</NOBR> aliens.” To be compliant with the law, employers were (and still are) required to
        submit documentation proving their employees’ work eligibility. One such document resulting from this law is
        commonly known today as the <NOBR>I-9.</NOBR>
      </P>
      <P class="p5 ft1">When <NOBR>then-President</NOBR> Ronald Reagan <A
          href="https://www.nytimes.com/1986/11/07/us/president-signs-landmark-bill-on-immigration.html?auth=link-dismiss-google1tap"><SPAN
            class="ft2">signed the bill into law,</SPAN></A> he attempted to dissuade concerns of growing antagonism
        between the U.S. and Mexico, saying, “Our objective is only to establish a reasonable, fair, <SPAN
          class="ft3">orderly </SPAN>and <SPAN class="ft3">secure </SPAN>system of immigration into this country and not
        to discriminate in any way against particular nations or people.” Unfortunately, Reagan and the bill’s other
        supporters, Republican and Democrat alike, would be disappointed to discover the execution of the law failed on
        both accounts.</P>
      <P class="p6 ft1">The IRCA serves as yet another example of how narratives on American domestic issues that are
        simplified via racialized notions of “us” and “them” push U.S. border policy towards militarization. Although
        IRCA attempted to shift blame from immigrants to employers, criminalization was not entirely absent. Not only
        did the policy provide additional funding for border control and internal enforcement, but the penalties for
        harboring undocumented workers or assisting in their entry to the U.S. grew stricter.</P>
    </DIV>
    <DIV id="page_2">


      <P class="p7 ft1">Border crossings have not always been viewed as unacceptable incursions. In fact, it used to be
        the standard operating procedure to apprehend border crossers after they had already crossed into the United
        States. That all changed in 1993 under the Clinton administration when the U.S. border patrol began to implement
        a new strategy: prevention through deterrence.</P>
      <P class="p8 ft1">Part of this policy was increasing the number of agents present at the border as well as their
        technological capabilities: by enhancing the risk of being caught while crossing, it was hoped fewer individuals
        would make the attempt. Those that did would be compelled to cross more hostile terrain like mountains or
        deserts, making the journey significantly more deadly.</P>
      <P class="p9 ft1">The “language” of PTD and its contribution to the racialized violence at the border is present
        in what’s not being directly stated. The Strategic Plan containing PTD noted that “violence will increase as
        effects of strategy are felt, ” “violence” was eventually replaced with words such as “cost.” Later reports on
        PTD were similarly censored as words like “hostile” were rephrased to “harsh,” “inhospitable,” and so on. Having
        witnessed the effects of PTD first hand while conducting an ethnographic study at the <NOBR>U.S.-Mexico</NOBR>
        border, <A href="https://content.ucpress.edu/chapters/12788.ch01.pdf"><SPAN class="ft2">Anthropologist Jason
            DeLeon</SPAN></A> speaks to the importance of language in border policy when he says, “this shift in tone
        reflects but one of many bureaucratic attempts to sanitize the human costs of this policy… this hostile terrain
        is now camouflaged in policy memorandums.”</P>
      <P class="p10 ft1">PTD has failed its original mission of <A
          href="https://immigrationimpact.com/2021/04/02/immigrants-coming-to-the-border-deterrence-policies/#.YRZUNYhKhyx"><SPAN
            class="ft2">lowering </SPAN></A>
        <NOBR><A
            href="https://immigrationimpact.com/2021/04/02/immigrants-coming-to-the-border-deterrence-policies/#.YRZUNYhKhyx"><SPAN
              class="ft2">border-crossings;</SPAN></A></NOBR> however, it has successfully made the dangers associated
        with such an endeavor invisible to the American public. Unfortunately, for many what is out of sight remains out
        of mind, and with illegal border crossings no longer blatantly obvious, it may feel to many as if the strategy
        has worked. Sadly, human lives continue to be lost while the language of PTD border policies construe migrant
        deaths as accidents of nature. Blaming the hostile desert and mountain environments spanning the border
        cyclically reinforces the racial violence present in U.S. border policy by ignoring the government’s role in
        corralling border crossers to their certain demise.
      </P>
      <P class="p11 ft1">If the policy is a failure, why allow it to continue? The reason appears to be largely the same
        as why the strategy was initially implemented: to appease Americans living along the border (as well as the
        broader American public). With the suffering of border crossers predominantly hidden and Southern constituents
        happy, it appears the government has now adopted a more <NOBR>hands-off</NOBR> approach, stepping back, wiping
        their hands clean, and saying, “this ain’t my problem.” PTD’s cruelty and incapacity is now a fact of border
        policy, and it motivates further investments into deterrents.</P>
      <P class="p12 ft1">George W. Bush’s domestic agenda, including on the border, has been largely displaced in
        history by his foreign policy, but his 2000 <NOBR>campaign-brand</NOBR> of compassionate conservatism contained
        notes that broke from 90’s Republican doctrine. He <A
          href="https://web.archive.org/web/20070916030406/http://archives.cnn.com/2000/ALLPOLITICS/stories/04/08/gore.bush.daywrap/index.html"><SPAN
            class="ft2">attacked </SPAN></A>
        <NOBR><A
            href="https://web.archive.org/web/20070916030406/http://archives.cnn.com/2000/ALLPOLITICS/stories/04/08/gore.bush.daywrap/index.html"><SPAN
              class="ft2">anti-undocumented</SPAN></A></NOBR><A
          href="https://web.archive.org/web/20070916030406/http://archives.cnn.com/2000/ALLPOLITICS/stories/04/08/gore.bush.daywrap/index.html"><SPAN
            class="ft2"> Prop 187</SPAN></A> and outflanked McCain in highlighting his instances of reform and
        bipartisanship. There was <A
          href="https://www.cnn.com/2001/ALLPOLITICS/07/27/bush.immigration.focus/index.html"><SPAN class="ft2">some
            reason to believe</SPAN></A> that Bush would use this image and his significant support among Hispanic
        Americans to make broad moves on immigration and border policy that other leaders couldn't. After some pushback,
        President Bush <A href="https://www.brookings.edu/opinions/why-amnesty-is-the-wrong-way-to-go/"><SPAN
            class="ft2">stopped using the word “amnesty”</SPAN></A> to describe his hopes for immigration reform, but
        there was still a possibility of serious bipartisan legislation on the issue.
      </P>
    </DIV>
    <DIV id="page_3">


      <P class="p13 ft1">The September 11th attacks changed his agenda and messaging strategy drastically. By 2006, Bush
        had left his mark on border policy with the Secure Fence Act, a piece of legislation that crystallized the
        militarization of the border. As part of the justification for the expansion of border fencing, illegal
        immigration and terrorism were mentioned in the same breath in the legislation, and by the bill’s proponents.
      </P>
      <P class="p14 ft1">The unfounded fear of terrorists attacking the United States through the southern border has
        and continues to be an arrow in the quiver of restrictionists, and President Bush was never shy about using it.
        At his 2005 State of The Union address, he asked Congress for “an immigration policy that permits temporary
        guest workers… that rejects amnesty… and that closes the border to drug dealers and terrorists”.</P>
      <P class="p15 ft1">The final bill defined its aims as “the prevention of all unlawful entries into the United
        States, including entries by terrorists, other unlawful aliens, and instruments of terrorism.” In addition to
        fencing, the Secure Fence Act also provided for transport and surveillance equipment for the Border Patrol. This
        surveillance came in the form of cameras, satellites, and drones, further militarizing the southern border.</P>
      <P class="p16 ft1">The September 11th attacks added a new dimension to political rhetoric on the border and
        foreign policy with Mexico and Central America. Politicians use these countries to localize <NOBR>21st-century
        </NOBR> threats that seem remote to most Americans. Criminal organizations have continued to dominate these
        countries, but despite all of the talk, there has been no major effort to aid these governments in dealing with
        their criminal elements that exist largely to serve American tastes. The result of all this rhetoric is a
        conflation of migrants and the forces that drive them to migrate, leading to deterrence policies that treat them
        as one and the same. Politicians speak of immigration as a crime control issue, the media reports on it as such,
        and the vicious cycle continues.</P>
      <P class="p17 ft1">That conflation reached new heights during the 2016 election when Donald Trump took the GOP
        nomination by convincing primary voters that <A
          href="https://www.washingtonpost.com/news/the-fix/wp/2016/03/29/whether-he-knew-it-or-not-donald-trumps-immigration-message-was-perfect-for-the-2016-gop-primary/"><SPAN
            class="ft2">he was the strongest candidate on immigration</SPAN></A>. <A
          href="https://www.washingtonpost.com/immigration/trump-immigration-walls/2020/10/31/e43453cc-09a3-11eb-991c-be6ead8c4018_story.html"><SPAN
            class="ft2">He consistently spoke</SPAN></A> in terms of an “invasion” of immigrants, and famously referred
        to Mexican immigrants as drug dealers, criminals, and rapists. Trump also elevated previously fringe conspiracy
        theories to Republican orthodoxy and <A href="https://www.bbc.com/news/world-us-canada-38126438"><SPAN
            class="ft2">falsely claimed that</SPAN></A> millions of immigrants voted illegally in the 2016 election.</P>
      <P class="p12 ft1">During the Trump presidency <A
          href="https://www.theguardian.com/us-news/2021/jan/30/us-mexico-border-crossings-arizona-2020-deadliest-year"><SPAN
            class="ft2">deaths on the border</SPAN></A> ebbed, then increased, but records of these deaths are state by
        state and spotty. His <NOBR><A
            href="https://bipartisanpolicy.org/blog/why-are-families-being-separated-at-the-border-an-explainer/"><SPAN
              class="ft2">“zero-tolerance</SPAN></A></NOBR><A
          href="https://bipartisanpolicy.org/blog/why-are-families-being-separated-at-the-border-an-explainer/"><SPAN
            class="ft2"> policy”</SPAN></A> intensified an earlier Bush policy, making criminal prosecution of illegal
        border crossings mandatory. The disaster and uproar caused by this policy forced its cessation. The total human
        impact of his policies on the border are unclear, but his rhetoric has had caused a clear, malignant change in
        the body politic.</P>
      <P class="p18 ft1">The <A
          href="https://www.elpasotimes.com/in-depth/news/2020/07/30/el-paso-walmart-shooting-community-reflect-racist-motive-behind-attack/5450331002/"><SPAN
            class="ft2">2019 El Paso shooter</SPAN></A> targeted Hispanic Americans due to his belief in the Great
        Replacement conspiracy theory: that immigration is being used to supplant America’s white majority and increase
        Democrat’s political power. Reactions to Trump, heightened by increased partisan sorting and issue alignment,
        have <A href="https://www.pewresearch.org/politics/2019/12/17/views-on-race-and-immigration/"><SPAN
            class="ft2">further polarized the parties on immigration</SPAN></A>. An</P>
    </DIV>
    <DIV id="page_4">


      <P class="p19 ft1">elusive, hypothetical Congressional compromise that exchanges smarter domestic enforcement of
        immigration laws for a broad amnesty and a reformed admissions process has gone from a mirage to invisible. It
        seems impossible that something like the <A
          href="https://www.propublica.org/article/washington-congress-immigration-reform-failure"><SPAN
            class="ft2">Gang of 8</SPAN></A> could ever happen again because the conversation on the right has shifted
        from militaristic to apocalyptic. Too many Republican voters believe that the national fabric is perilously
        fragile and that immigration is a major source of that fragility.</P>
      <P class="p20 ft1">Trump’s <NOBR>anti-immigrant</NOBR> and border rhetoric marks a new phase in Republican
        discourse on the issue, but his extreme stance has been validated by the past century of bipartisan agreement on
        the nature of the border. The violence justified by these ideas and talking points also validates some of the
        <NOBR>well-intentioned</NOBR> but unworkable desires of the left of the Democratic party.</P>
      <P class="p21 ft1">Decriminalization of illegal entry into the United States; in particular focus during their
        2020 primary, is wildly unpopular and further precludes a “grand bargain” on immigration. Left Democrats see it
        as a panacea to the deprivations of smugglers and Border Patrol. Democrats need to ground their immigration
        agenda in the increasingly <NOBR>pro-immigrant</NOBR> sentiment of the country at large and realistic reforms of
        a broken series of systems. Republican leadership needs to recall that their party used to have real asks on
        border policy that could form a base for negotiations. Trump’s rejection of immigration of all kinds and fierce
        border policy plays well with very conservative voters but forms a key part of the party’s toxic image among
        young and diverse voters.</P>
      <P class="p22 ft1">Bipartisan consensus on the crucial role played in our society by immigration and the necessity
        of working with our hemispheric neighbors is essential to fostering real progress. Rejecting <NOBR>crime-control
        </NOBR> framing and outdated, racialized rhetoric on the border is the first step to a more holistic national
        conversation that realizes the unheralded benefits and opportunities presented by our frontiers and the people
        that live beyond them.</P>
    </DIV>
  </div>
</BODY>

<script src="{{ url_for('static', filename='app.js') }}" defer></script>

</HTML>{% endblock %}