<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Panorama Project</title>
  <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous"/>
</head>
<body class="home">
  <header id="navbar">
    <h1 id="logo">The Panorama Project</h1>
    <button id="open_icon" class="icon mobile">
      <i class="fa fa-bars"></i>
    </button>
    <button id="close_icon" class="icon mobile">
      <i class="fa fa-bars"></i>
    </button>
    <nav id="navmenu">
      <div id="mobile_nav_content" class="mobile">
        <a onclick="mobileCloseNav()" href="{{ url_for('application') }}">APPLY HERE</a>
        <a onclick="mobileCloseNav()" href="{{ url_for('projects') }}">PROJECTS</a>
      </div>
      <div class="widescreen">
        <a href="{{ url_for('application') }}">APPLY HERE</a>
        <a href="{{ url_for('projects') }}">PROJECTS</a>
      </div>
    </nav>
  </header>
  <main>
    <div class="page-content">
      <div id="image-container">
        <image src="{{ url_for('static', filename='panoramaProjectLogo.png') }}">
          <h1 style="font-weight: bold;">The Panorama Project</h1>
        </div>
        <div class="content">
          <h2>Mission statement</h2>
          <p>By providing a space for thoughtful engagement across political divides, we seek to nurture a political discourse where peace, understood as the capacity to navigate disagreements through goodwill dialogue, can become a regular practice.</p>
          <h2>About us</h2>
          <p>We are a group of graduates and students with a shared concern about the entrenched political divisions in American politics. To address this concern, we managed to come together across our own political differences and now seek to promote compassionate, thoughtful discourse by founding the Panorama Project, an organization funded by the <a href="https://www.davisprojectsforpeace.org/" target="_blank">Davis Projects for Peace</a>.</p>
          <h2>Opportunity</h2>
          <p>The Panorama Project offers motivated and open-minded students from across the U.S. an opportunity to understand experiences and opinions that are different from their own by collaborating on pieces of media that explore pressing issues in U.S. politics.
            <ul class="circle">
              <li>In teams of two to four, participants will research, discuss, and collaborate on a piece of media on a topic in U.S. politics (for example, a news article, feature, explainer-video, or even an art piece). Participants can draw on their own experiences, interviews, academic sources, news articles, works of art, and historical resources -- including an exclusive <a href="https://www.nyu.edu/community/government-affairs/study-of-congress/research-and-initiatives/reflections-project0.html" target="_blank">archive of interviews</a> with former members of Congress -- to research and tell their stories.</li>
              <li>Along the way, participants will have the opportunity to meet, learn from, and discuss their work with various experts on U.S. politics, including John Harris, the co-founder of Politico. The summer of research will culminate in a roundtable discussion, where professors, policy-makers, and journalists weigh in on our work and its relevance to U.S. politics.</li>
              <li>Participants will receive a $60 award for their completed contribution to the project.</li>
              <li>Thi is a part-time summer commitment that will ask for about 3-5 hours of work per week (aside from participation in workshops and events). All work will be done remotely.</li>
            </ul>
          </p>
          <h2>Duties and Responsibilities</h2>
          <p>During the summer, from June 16th through August 13th, members of the Panorama Project will:
            <ul class="circle">
              <li>Co-author at least one piece of media (e.g. article, documentary, blog, info-graphic, etc) for publication on a contemporary political issue or the history of political polarization.</li>
              <li>Communicate consistently and respectfully with your co-authors during the writing and publication process.</li>
              <li>Strive to understand different views before challenging them.</li>
              <li>Attend the opening Convocation.</li>
              <li>This is not a full-time summer project. The expected time commitment could run between 3-5 hours per week.</li>
            </ul>
          </p>
          <h2>Qualifications</h2>
          <p>We’re not looking for just one type of applicant. We want to put together a team of diverse individuals that share a common desire to heal our fractured society. The strongest applicants will have:
            <ul class="circle">
              <li>Demonstrated interest in U.S. politics.</li>
              <li>A belief in our mission, to pursue greater understanding across political divides.</li>
              <li>A desire to learn about things that may challenge your beliefs.</li>
              <li>An ability to work respectfully with other individuals who may not share your beliefs.</li>
            </ul>
          </p>
          <h2>How to Apply</h2>
          <p>Complete the application linked <a href="{{ url_for('application') }}">here</a>.</p>
          <h2>Deadline to Apply</h2>
          <p>May 21st.</p>
        </div>
      </div>
    </main>
    <footer>
      <div id="footer-top-container">
        <div class="line"></div>
        <!--<h3 id="socials">Follow us: <i class="fab fa-instagram"></i>  <i class="fab fa-facebook"></i>  <i class="fab fa-twitter"></i></h3>
        <div class="line"></div>-->
      </div>
      <div id="footer-content">
        <h2>Contact Us</h2>
        <p>
          <a href="mailto:info@thepanoproject.com">info@thepanoproject.com
          </a>
        </p>
      </div>
    </footer>
    <script src="{{ url_for('static', filename='app.js') }}" defer></script>
  </body>
  </html>
