{% extends 'base.html' %} {% block main %} 
<div class="page-content">
  <div id="image-container">
    <image src="{{ url_for('static', filename='panoramaProjectLogo.png') }}">
      <h1 style="font-weight: bold;">The Panorama Project</h1>
  </div>
  <div class="content">
    <h2>Mission Statement</h2>
    <p>By providing a space for thoughtful engagement across political divides, we seek to nurture a political discourse
      where peace, understood as the capacity to navigate disagreements through goodwill dialogue, can become a regular
      practice.</p>
    <h2>About Our Work</h2>
    <p>The Panorama Project is a group of individuals with a shared concern about the entrenched political divisions in
      American politics. Funded by <a href="https://www.davisprojectsforpeace.org/">Davis Projects for Peace</a>, the
      Panorama Project offers open-minded students from across the U.S. an opportunity to understand experiences and
      opinions that are different from their own by collaborating on works of journalism and research projects centering
      on an issue in U.S. politics. In teams of two to four, contributors researched and coauthored work on subjects of
      their own choosing. The authors drew from their own experiences, interviews, academic sources, news articles,
      works of art, and historical resources. The project took place remotely during the summer of 2021. Over 20
      projects were completed as a part of the Panorama Project.</p>

  </div>
</div>
{% endblock %}