{% extends 'base.html' %} {% block main %}
<div class="page-content">
    <DIV id="page_1">


        <P class="p0 ft0">Is The United States in Need of Modern Feminism?</P>
        <P class="p0 ft1">Adhithi Prabhuraj and Max Pins</P>
        <P class="p1 ft1">Is the United States in need of modern feminism? This incendiary question evokes emotion in
            anyone asked, with some replying an emphatic yes, others an emphatic no, and leaving many perplexed as to
            what their answer is. We seek to expand on both answers to this question. Max Pins argues that feminism is
            still necessary today as the patriarchy and normative heterosexuality are still integral parts of our
            society. Though there may be less change needed in laws to legally make men and women equal, feminism today
            is mainly focused on creating social change. The MeToo Movement, high rates of sexual assault and
            harassment, and the gender pay gap are all signifiers of this necessary social change. However, Pins will
            also argue that the term feminism itself may be outdated due to the historical exclusion in mainstream
            feminism of many groups of women. Adhithi Prabhuraj argues that in contrast to the first two waves of
            feminism, the third/fourth waves have lost their purpose and will dissect some claims of the modern feminist
            movement to understand whether their cause has substance or is a facade.</P>
        <P class="p2 ft0">Yes, The United States Is In Need of Modern Feminism</P>
        <P class="p3 ft1">A simple definition of feminism can be found in Estelle B. Freedman’s <SPAN class="ft2">The
                Essential Feminist Reader </SPAN>as “the belief that women have the same capacities as men”. Expanding
            on this definition Freedman writes that feminism challenges and rejects patriarchal rule and seeks to change
            social and legal customs.</P>
        <P class="p4 ft1">I argue that the MeToo Movement is a signifier that the United States is in need of modern
            feminism.The MeToo Movement began in 2017 when the New York Times printed the first allegations of sexual
            harassment and assault against Harvey Weinstein, who was subsequently fired from his own company a week
            later. This incited actress and activist Alyssa Milano to tweet that those who had experienced sexual
            assault or harassment should reply to her tweet with “MeToo” to demonstrate how large of a societal problem
            this is. Within 24 hours half a million people had responded. This movement not only lead to allegations
            coming out against more people in power in Hollywood but has also been an important step in addressing and
            changing the United States’ rape culture. Additionally, this movement has also demonstrated how large of a
            problem sexual assault and harassment truly is.</P>
        <P class="p5 ft1">According to the National Sexual Violence Resource Center in 2015 81% of women nationwide had
            reported experiencing some form of sexual harassment and/or assault in their lifetime. Furthermore, one in
            five women in the United States had experienced completed or attempted rape during their lifetime.
            Approximations based on RAINN’s findings and the Justice Department National Crime Victimization Surveys
            demonstrate how the justice system is in dire need of improvement. Less than a third of rape cases are
            reported to police, with a common frame of thought being nothing will happen if they do go to the police, so
            why suffer the emotional turmoil. This mindset is understandable due to the fact that about .7% of rapes and
            attempted rapes end with a felony conviction for the perpetrator.</P>
        <P class="p6 ft1">The gender pay gap is a commonly cited argument that feminism is still needed today, and for
            good reason. In 2021 women make on average 18% less in their yearly earnings than men. Vermont holds the
            lowest pay gap at 9%, Wyoming the highest at 35%. Additionally, women do</P>
    </DIV>
    <DIV id="page_2">


        <P class="p7 ft1">not have a higher average salary than men in any state. This gap also demonstrates the need
            for a modern feminist movement as there has been little decrease in the gap since 2010. Many of the reasons
            for this pay gap are due to the societal reasons that modern day feminists are trying to change. The lack of
            women in <NOBR>male-dominated</NOBR> fields, a corporate culture of promoting men for positions and raises,
            unequal hiring practices, and a lack of local legislation protecting women from discriminatory practices.
        </P>
        <P class="p8 ft3">Arguably the United States is in need of modern feminism from a historical standpoint.
            Feminists today still have not reached concrete goals born in <NOBR>second-wave</NOBR> feminism. The Equal
            Rights Amendment has still not been passed, an amendment which is designed to guarantee equal legal rights
            for all American citizens regardless of sex. The ERA was first introduced by Alice Paul in 1923, and much of
            the push for the ratification of the ERA happened during the <NOBR>second-wave</NOBR> of feminism in the
            form of protests and activism. The Equal Rights Amendment had been passed through the United States Senate
            and the House of Representatives and was sent to states for ratification in 1972. Although it got 22 of the
            necessary 38 ratifications in its first year, opposition to the ERA grew and new ratifications slowed. The
            ERA has been reintroduced to Congress before every session of Congress since 1983. Nearly 100 years since
            its conception the Equal Rights Amendment has still not been passed.</P>
        <P class="p9 ft1">Roe v Wade was passed in 1973 making women’s access to abortions legal nationally. However,
            this right, a major goal of <NOBR>second-wave</NOBR> feminists, is still being challenged today. Many states
            continue to pass legislation restricting women’s access to abortions and other reproductive healthcare. More
            restrictions against abortions have been enacted in 2021 than in any previous year since 1973, by July
            1<SPAN class="ft4">st </SPAN>2021 90 restrictions had been enacted. Overall, states have enacted 1,320
            restrictions since Roe v Wade. Both Arkansas and Oklahoma have near total bans, and four states (including
            Oklahoma) have bans on abortions at six weeks. When a major factor in the Roe v Wade case was that Norma
            McCorvey, who had used the alias Jane Roe, was unable to gain an abortion due to the state she was in, these
            restrictions and bans are troubling. They have provoked concern in many that abortion rights in the United
            States will revert to <NOBR>pre-1973.</NOBR>
        </P>
        <P class="p10 ft0">History of Exclusion Questions Need for Modern Feminism</P>
        <P class="p11 ft1">Max Pins</P>
        <P class="p12 ft3">However, from a historical standpoint one could also say the United States is not in need of
            modern feminism. Its <NOBR>long-history</NOBR> of exclusivity could suggest that if the United States does
            need social change for equality it needs a different movement altogether. While feminism has historically
            excluded women from many different backgrounds, this article will be focusing on women of color and queer
            women.</P>
        <P class="p13 ft1">One of the main goals of the first wave of feminism was suffrage. The accomplishment of this
            goal is in and of itself an example of exclusion. It is widely accepted that with the ratification of the
            19<SPAN class="ft4">th </SPAN>Amendment in 1920. However, this was really only true for white women. Native
            American women were not able to vote in 1920 as it was not until the Snyder Act of 1924 that Native
            Americans were considered U.S. citizens. Furthermore, voting rights were not extended to Native Americans in
            all states until 1962. The Voting Rights Act of 1965, which prohibited racial discrimination while voting,
            was very important to ensure women and all people of color were able to vote, and Mexican American’s right
            to vote was not fully protected until an</P>
    </DIV>
    <DIV id="page_3">


        <P class="p14 ft1">extension to this act was passed. Even with these accomplishments to this day racial
            discrimination still plays a huge role in voter suppression.</P>
        <P class="p15 ft1">Other movements seeking the equality of the sexes have been created due to the exclusion of
            women of color in the feminist movement. One example is an ideology called Africana Womanism. Author Clenora
            <NOBR>Hudson-Weems</NOBR> defined Africana Womanism as, “an ideology created and designed for all women of
            African descent…and is grounded in African culture”. To many the ideology of feminism has been viewed as a
            white woman’s movement, with a popular feeling being that black women and white women have such different
            experiences in society that the ideology of feminism cannot apply to both groups at the same time. Unlike
            white women, Africana Womanists do not view their main oppressor as men, making the point that black men
            historically have had very little power in the United States. Their common enemy is instead the larger
            forces in society which oppress black women as well as all black people.</P>
        <P class="p16 ft1">The exclusion of queer women in the feminist movement is clearly demonstrated with the
            Lavender Menace. The Lavender Menace was a name Betty Friedan, famous founder of NOW and author of <SPAN
                class="ft2">The Feminist Mystique</SPAN>, called lesbian activists in a 1970 New York Times article.
            During <NOBR>second-wave</NOBR> feminism the Lavender Scare was occurring concurrently. Being outed as a
            homosexual could lead to someone losing their job, and this was a common occurrence within the federal
            government. Additionally, being outed could cause someone to lose their whole reputation due to widespread
            fear mongering pushed by the government, painting homosexuals as perverts as well as a security threat to
            the United States. Friedan’s label was a play on this phenomenon combined with the fact that she found
            lesbian feminists to be a nuisance. Friedan felt that lesbians and lesbian groups threatened the
            respectability of the feminist movement and repeatedly sought to push them out of the movement. In 1970 the
            New York branch of NOW fired lesbian activist Rita Mae Brown, causing many lesbian members to resign in
            protest.</P>
        <P class="p17 ft0">No, The United States is Not in Need of Modern Feminism</P>
        <P class="p18 ft1">Adhithi Prabhuraj</P>
        <P class="p19 ft1">Arguably birthed in the minds of the great thinkers of ancient Greece, the feminist movement
            made its debut in late 19th century in the form of the first wave. It is specifically marked by the Seneca
            Falls Convention of 1848- the first formal women’s rights convention. One major element of the first wave
            was women's participation in the French Revolution where they played a major role in the politics of the
            time, most notably the women’s march on Versailles, and focused on the equality of citizenship rights.
            Secondly, the Temperance movement saw support from these feminists who were deemed the “<A
                href="https://www.womenshistory.org/exhibits/feminism-first-wave-0"><SPAN class="ft5">moral authorities
                    of their households</SPAN></A>” who fought against alcohol usage. Thirdly, the Abolitionist movement
            when feminists fought for women of different ethnicities and pushed for the end of slavery. The 19th
            amendment saw the end of the first wave as feminist ideologies began to differ in light of the equal rights
            amendment.</P>
        <P class="p20 ft1">1960 is widely regarded as the beginning of the second wave. Instigated by provocative and
            progressive books like “The Second Sex” and “The Feminine Mystique” feminists looked to enter the workplace.
            In 1963, President John F. Kennedy signed the Equal Pay Act into law which stated that women should be paid
            the same as men for doing “<A href="https://www.womenshistory.org/exhibits/feminism-second-wave"><SPAN
                    class="ft5">comparable work</SPAN></A>” at the same job. In 1973 Roe v. Wade came as a second
            victory. After the simultaneous Civil Rights Movement highlighted the differences in treatment between
            feminists of different races, the movement saw a slowdown. The final stretch of this wave included a fight
            against the</P>
    </DIV>
    <DIV id="page_4">


        <P class="p18 ft1">objectification of women and halted in the late 1980s.</P>
        <P class="p21 ft1">A third wave of feminism was born in the 1990s, seeking to redefine the meaning of
            femininity, highlight race relations with the term “intersectionality”, and called for a change in culture.
            Though many consider present day “feminism” as an extension of the third wave, others believe that the
            influence of technology has started a fourth one, which would be modern day feminism.</P>
        <P class="p22 ft1">As race relations became a topic of contention in the 1990s, the first two waves of feminism
            were widely criticized by a third wave of “grrl feminism” or “new feminism”- which is quite hypocritical
            considering feminism is the movement being criticized. Although it was used to put a diverse set of views
            under a bracket, the third wave served no overall purpose, and fought for no common <NOBR>cause–rather,
            </NOBR> emphasized a change in culture.</P>
        <P class="p23 ft1">If the third wave was contradictory in its definition, the fourth wave intensifies this
            contradiction. “Feminism” now seems to encompass many <NOBR>other–often</NOBR>
            <NOBR>conflicting–movements</NOBR> such as the <NOBR>non-binary</NOBR> movement, trans movement, racial
            equality movement and other faith based movements. The main goals of third/ fourth wave of feminism is to
            deconstruct gender norms, “<A
                href="https://thehumanist.com/commentary/a-brief-look-at-the-four-waves-of-feminism/"><SPAN
                    class="ft5">confront..systemic white male supremacy</SPAN></A>” especially in the workplace, and
            support the #Metoo movement in fighting “rape culture”- all of which, in one way or another, have damaged
            gender relations in the United States. I will dissect some of these claims of the modern feminist movement,
            to understand if they are really fighting for something, or if it’s all a facade.
        </P>
        <P class="p24 ft3">Firstly, is the infamous <NOBR>Gender-Wage</NOBR> gap that is incorrectly assumed by 70% of
            the population. Yes, a gap exists, but it has nothing to do with sexism and everything to do with choice.
            The popular statistic used by modern feminism is that women make only 77 cents in a dollar a man makes. If I
            were to hear this, I would also be with the majority of women in thinking that men do get an advantage in
            the workplace. While this statistic is obtained from the median earnings of all women working <NOBR>
                full-time</NOBR> by the median earnings of all men working <NOBR>full-time,</NOBR> it completely
            disregards profession, position, educational qualifications or hours worked per week. When these variables
            are taken into account, the wage gap is reduced to 4.8- 7% according to a</P>
        <P class="p25 ft1"><A
                href="https://www.shrm.org/hr-today/public-policy/hr-public-policy-issues/documents/gender%20wage%20gap%20final%20report.pdf"><SPAN
                    class="ft5">2009 study</SPAN></A> published by the Department of Labor. There are several reasons
            why:</P>
        <P class="p26 ft1"><SPAN class="ft6">-</SPAN><SPAN class="ft7">Firstly, more women work </SPAN>
            <NOBR>part-time</NOBR> than men do. And it is a <NOBR>well-known</NOBR> fact that <NOBR>part-time</NOBR>
            pays less. 42% of women work part time. When the wages of <NOBR>part-time</NOBR> women and <NOBR>part-time
            </NOBR> men are compared, women earn more than men do!
        </P>
        <P class="p27 ft3"><SPAN class="ft6">-</SPAN><SPAN class="ft8">Secondly, women tend to leave the labor force for
                childbirth, child care and elder care, more than men do. But between women and men in their 20s and
                early </SPAN>
            <NOBR>30s–who</NOBR> mostly have not had children yet– the wage gap is negligible and in some years, women
            outturn men.
        </P>
        <P class="p28 ft3"><SPAN class="ft6">-</SPAN><SPAN class="ft8">Thirdly, industry and occupation play a major
                role in how much women are paid. According to a </SPAN><A
                href="https://cew.georgetown.edu/wp-content/uploads/2014/11/whatsitworth-complete.pdf"><SPAN
                    class="ft9">study of college majors by Georgetown University</SPAN></A>, in four out of five of the
            highest paying majors (Petroleum Engineering, Mathematics and Computer Science, Aerospace Engineering, and
            Chemical Engineering) men <NOBR>out-represent</NOBR> women. And in four out of five of the lowest paying
            majors (Counseling and Psychology, Early Childhood Education, Human Services and Community Organization, and
            Social Work) the opposite is true– it is the women that outnumber men in all but one category.</P>
        <P class="p29 ft1">But there’s still a minute gap right? Yes, and there are too many factors that might be
            causing it:</P>
    </DIV>
    <DIV id="page_5">


        <P class="p30 ft1">men are more flexible with the times that they are willing to work, are more likely to work
            longer hours and take jobs in unsafe environments. Simply stated, “<A
                href="https://www.aei.org/carpe-diem/there-really-is-no-gender-wage-gap-there-is-a-gender-earnings-gap-but-paying-women-well-wont-close-that-gap/"><SPAN
                    class="ft5">there is almost no evidence that men and women working in the same position with the
                    same background, education and qualifications are paid differently</SPAN></A>.” We women have to be
            proud of the choice that other women make to stay at home and raise their children instead of choosing to be
            in the workforce. And most importantly, we need to understand that men aren’t to blame for this <NOBR>gap–it
            </NOBR> is us and our choices.</P>
        <P class="p31 ft1">Metoo has been a major element of modern feminism especially on social media and it has
            undeniably started a conversation about workplace interactions, sexual harassment and assault. But modern
            day feminism seems to ignore the negative effects it has not only on men and society as a whole, but most
            importantly, the effect it has on women in the workplace.</P>
        <P class="p32 ft1"><SPAN class="ft6">-</SPAN><SPAN class="ft7">Five times more men are less inclined to mentor
                women, because they are worried about being wrongly accused or reading the wrong signals.</SPAN></P>
        <P class="p33 ft3"><SPAN class="ft6">-</SPAN><SPAN class="ft8">Men are afraid to hire women younger than 30
                years, meeting them in private places, or meeting at all. Metoo seems to be a bigger threat to women in
                the workforce than the </SPAN>
            <NOBR>gender-wage</NOBR> gap!
        </P>
        <P class="p34 ft1"><SPAN class="ft6">-</SPAN><SPAN class="ft7">75% of young women are experiencing anxiety about
            </SPAN><SPAN class="ft2">potential </SPAN>harassment in the workplace- something that serves as a hindrance
            to optimal communication.</P>
        <P class="p35 ft11"><SPAN class="ft6">-</SPAN><SPAN class="ft10">Innocent until proven guilty goes out the door
                in Metoo accusations, and men often have their lives ruined even if they’re not guilty by law</SPAN></P>
        <P class="p36 ft1">These facts are pointed out not by men, but by Jessica Butcher, who is a <NOBR>co-founder
            </NOBR> of Blippar, one of Britain’s <NOBR>best-funded</NOBR> technology <NOBR>scale-ups</NOBR> and the
            recipient of numerous female entrepreneur and tech awards including BBC’s Top 100 Women and Fortune’s Most
            Powerful female entrepreneurs.</P>
        <P class="p37 ft1">Modern feminism has become obsessed with female victimhood rather than celebrating womanhood.
            There is so much talk of male privilege but so much less consideration of female privilege. If a simple
            truth was even considered, there wouldn’t be an argument for the existence of a ‘patriarchy’: We are all
            born differently with different abilities and are therefore able or unable to perform certain roles in
            society. Yes, male privilege is very much real in some elements of society, but so is female privilege in
            others. Men make up most high school dropouts, have the most mental health issues, make up 80% of suicide
            rates, 90% of workplace deaths, 99% of war deaths, 76% of crime deaths, 71% of homelessness, get 60% longer
            sentences than women do, near equal domestic abuse rates of 40%, are involved in paternity fraud, and
            heavily disadvantaged in child custody rights. If society were truly built on a patriarchy, wouldn’t these
            issues be much less significant or even <NOBR>non-existent?</NOBR>
        </P>
        <P class="p38 ft1">America once needed the feminist <NOBR>movement–when</NOBR> women had constraints on their
            free will. And those constraints in the past no longer exist. And when we realize that, they will understand
            that modern feminism has no purpose. What’s worse, it reinforces an idea in young women that they are not
            strong individuals, rather, that they need a movement to defend them. On the surface modern feminism seems
            to demand gender equality, but the United States is now a land where women and men are free to make their
            own choices, and there is no “equality”</P>
    </DIV>
    <DIV id="page_6">


        <P class="p39 ft1">that needs to be fought for. We need to “forge a path that lifts our daughters, without
            simultaneously tearing down our sons”- and the tenets of modern feminism in the United States fails to do
            that.</P>
        <P class="p40 ft1">Works Cited:</P>
        <P class="p41 ft1">Crenshaw, Kimberle "Demarginalizing the Intersection of Race and Sex: A Black Feminist
            Critique of Antidiscrimination Doctrine, Feminist Theory and Antiracist Politics," University of Chicago
            Legal Forum: Vol. 1989: Iss. 1, Article 8.</P>
    </DIV>
    <DIV id="page_7">


        <P class="p42 ft1">Carnevale , Anthony P, et al. “CEW Georgetown.” <SPAN class="ft2">What's It Worth: The
                Economic Value of College Majors</SPAN>, Georgetown University Center on Education, May 2011, <NOBR>
                https://cew.georgetown.edu/wp-content/uploads/2014/11/whatsitworth-complete.pdf.</NOBR>
        </P>
        <P class="p43 ft1">CONSAD Research Corporation. “An Analysis of Reasons for the Disparity in Wages Between Men
            and Women.” <SPAN class="ft2">Www.Shrm.Org</SPAN>, 12 Jan. 2009, <NOBR><A
                    href="http://www.shrm.org/hr-today/public-policy/hr-public-policy-issues/documents/gender%20wage%20gap%20final%20report.pdf"><SPAN
                        class="ft5">www.shrm.org/hr-today/public-policy/hr-public-policy-issues/documents/gender%20wage%20ga</SPAN></A>
            </NOBR><A
                href="http://www.shrm.org/hr-today/public-policy/hr-public-policy-issues/documents/gender%20wage%20gap%20final%20report.pdf"><SPAN
                    class="ft5"> p%20final%20report.pdf</SPAN></A>.</P>
        <P class="p44 ft1">Delao, Margie. “A Brief Look at the Four Waves of Feminism.” <SPAN
                class="ft2">TheHumanist.Com</SPAN>, 4 Mar. 2021, <NOBR>
                thehumanist.com/commentary/a-brief-look-at-the-four-waves-of-feminism.</NOBR>
        </P>
        <P class="p45 ft1">“Equal Rights Amendment.” Equal Rights Amendment. Accessed August 12, 2021.
            https://www.equalrightsamendment.org/.</P>
        <P class="p46 ft11">“Feminism: The First Wave.” <SPAN class="ft12">National Women’s History Museum</SPAN>, 5
            Apr. 2021, <NOBR><A href="http://www.womenshistory.org/exhibits/feminism-first-wave-0"><SPAN
                        class="ft13">www.womenshistory.org/exhibits/feminism-first-wave-0</SPAN></A>.</NOBR>
        </P>
        <P class="p47 ft1">“Feminism: The Second Wave.” <SPAN class="ft2">National Women’s History Museum</SPAN>, 18
            June 2020, <NOBR><A href="http://www.womenshistory.org/exhibits/feminism-second-wave"><SPAN
                        class="ft5">www.womenshistory.org/exhibits/feminism-second-wave</SPAN></A>.</NOBR>
        </P>
        <P class="p48 ft1">Freedman, Estelle B. “Introduction.” Introduction. In The Essential Feminist Reader. Modern
            Library, 2007.</P>
        <P class="p49 ft1">Mosteller, Andrew. “The Gender Pay Gap across the Us in 2021.” Business.org, July 29, 2021.
            <NOBR>https://www.business.org/hr/benefits/gender-pay-gap/.</NOBR>
        </P>
        <P class="p50 ft1">Nash, Elizabeth, Guttmacher Institute, and Sophia Naide. “State Policy Trends at Midyear
            2021: Already the Worst Legislative Year Ever for U.s. Abortion Rights.” Guttmacher Institute, July 1, 2021.
            <NOBR>https://www.guttmacher.org/article/2021/07/state-policy-trends-midyear-2021-already-worst-legi</NOBR>
            <NOBR>slative-year-ever-us-abortion.</NOBR>
        </P>
        <P class="p51 ft1">Orleck, Annelise. Rethinking American Women's Activism. London: Routledge, 2016</P>
        <P class="p52 ft1">Owens, Candace. “Candace Owens: I Am Not a Feminist.” <SPAN
                class="ft2">StamfordAdvocate</SPAN>, Stamford Advocate, 24 May 2017, <NOBR>
                https://www.stamfordadvocate.com/opinion/article/Candace-Owens-I-am-NOT-a-feminist-11168</NOBR> 391.php.
        </P>
        <P class="p53 ft1">Perry, Mark. “There Really Is No ‘gender Wage Gap.’ There’s a ‘Gender Earnings Gap’, but
            ‘paying Women Well’ Won’t Close That Gap.” <SPAN class="ft2">American Enterprise Institute - AEI</SPAN>, 31
            July 2017, <NOBR><A
                    href="http://www.aei.org/carpe-diem/there-really-is-no-gender-wage-gap-there-is-a-gender-earnings-gap-but-paying-women-well-wont-close-that-gap"><SPAN
                        class="ft5">www.aei.org/carpe-diem/there-really-is-no-gender-wage-gap-there-is-a-gender-earnings-gap-but-</SPAN></A>
            </NOBR><A
                href="http://www.aei.org/carpe-diem/there-really-is-no-gender-wage-gap-there-is-a-gender-earnings-gap-but-paying-women-well-wont-close-that-gap"><SPAN
                    class="ft5"> </SPAN></A>
            <NOBR><A
                    href="http://www.aei.org/carpe-diem/there-really-is-no-gender-wage-gap-there-is-a-gender-earnings-gap-but-paying-women-well-wont-close-that-gap"><SPAN
                        class="ft5">paying-women-well-wont-close-that-gap</SPAN></A>.</NOBR>
        </P>
        <P class="p54 ft1">Rampton, Martha. “Four Waves of Feminism.” <SPAN class="ft2">Pacific University</SPAN>, 13
            July 2020, <NOBR>www.pacificu.edu/magazine/four-waves-feminism.</NOBR>
        </P>
    </DIV>
    <DIV id="page_8">


        <P class="p55 ft1">Seales, Rebecca. “What Has #MeToo Actually Changed?” BBC News. BBC, May 12, 2018. <NOBR>
                https://www.bbc.com/news/world-44045291.</NOBR>
        </P>
        <P class="p56 ft1">“Statistics.” National Sexual Violence Resource Center. Accessed August 12, 2021.
            https://www.nsvrc.org/statistics.</P>
        <P class="p57 ft1">TEDx. “Is Modern Feminism Starting to Undermine Itself? | Jess Butcher |
            TEDxAstonUniversity.” <SPAN class="ft2">YouTube</SPAN>, uploaded by TEDx Talks, 5 Sept. 2018,
            www.youtube.com/watch?v=lgIgytWyo_A.</P>
        <P class="p58 ft1">Van Dam, Andrew. “Analysis | Less than 1% of Rapes Lead to Felony CONVICTIONS. at Least 89%
            of Victims Face Emotional and Physical Consequences.” The Washington Post. WP Company, October 6, 2018.
            <NOBR>https://www.washingtonpost.com/business/2018/10/06/less-than-percent-rapes-lead-felony-convi</NOBR>
            <NOBR>ctions-least-percent-victims-face-emotional-physical-consequences/.</NOBR>
        </P>
        <P class="p59 ft1">Zack, Naomi. Inclusive Feminism: a Third Wave Theory of Women's Commonality. Lanham: Rowman &
            Littlefield, 2005.</P>
    </DIV>
</div>{% endblock %}