{% extends 'base.html' %} {% block main %}    <div class="page-content">
      <div class="project-page-header">
        <h2>All Projects</h2>
        <p>More articles to be posted. Arranged in no particular order.</p>
    </div>
      <div class="wrapper">
        <div class="project-tile">
          <a href="{{ url_for('project', project_name='Addressing_Misconceptions') }}">
          <div class="hide-placeholder"></div>
          <img class="project-img" src="{{ url_for('static', filename='images/addressing_misconceptions.jpg') }}"/>
          <div class=project-tile-text>
            <h3 class="tile-title">Addressing Misconceptions About Critical Race theory within K-12 Classrooms</h3>
            <div class="tile-description">By Madison Rosensaft and Olivia Schmidt</div>
          </div>
          </a>
        </div>
        <div class="project-tile">
          <a href="{{ url_for('project', project_name='Alternative_Medias_Role') }}">
            <div class="hide-placeholder"></div>
            <img class="project-img" src="{{ url_for('static', filename='images/alternative_medias_role.jpeg') }}"/>
            <div class=project-tile-text>
              <h3 class="tile-title">Alternative Media’s Role in Polarization and Democracy</h3>
              <div class="tile-description">By Katrina Kuzmina, Mark Marino, Kayla Sloan</div>
            </div>
            </a>
        </div>
        <div class="project-tile">
          <a href="{{ url_for('project', project_name='Bisexuality_in_America') }}">
            <div class="hide-placeholder"></div>
            <img class="project-img" src="{{ url_for('static', filename='images/bisexuality_in_america.jpg') }}"/>
            <div class=project-tile-text>
              <h3 class="tile-title">Bisexuality in America</h3>
              <div class="tile-description">By Zachary Steward and Elena Dixon</div>
            </div>
            </a>
        </div>
        <div class="project-tile">
          <a href="{{ url_for('project', project_name='Black_Lives_Matter') }}">
          <div class="hide-placeholder"></div>
          <img class="project-img" src="{{ url_for('static', filename='images/black_lives_matter.png') }}"/>
          <div class=project-tile-text>
            <h3 class="tile-title">Black Lives Matter: A Reflection from Different Perspectives</h3>
            <div class="tile-description">By Kailey Blunk, Lumeng Yang, and Marcus Lopez</div>
          </div>
          </a>
        </div>
        <div class="project-tile">
          <a href="{{ url_for('project', project_name='Defining_Responsibility_of_Government') }}">
            <div class="hide-placeholder"></div>
            <img class="project-img" src="{{ url_for('static', filename='images/defining_role_of_government.jpg') }}"/>
            <div class=project-tile-text>
              <h3 class="tile-title">From Johnson to Reagan: The History of Poverty and How Individualism Created an <NOBR>Anti-Welfare</NOBR> Attitude Around Poverty</h3>
              <div class="tile-description">By Meghan Brink and John Donnelly</div>
            </div>
            </a>
        </div>
        <div class="project-tile">
          <a href="{{ url_for('project', project_name='Climate_Conversation') }}">
            <div class="hide-placeholder"></div>
            <img class="project-img" src="{{ url_for('static', filename='images/climate_conversation.jpg') }}"/>
            <div class=project-tile-text>
              <h3 class="tile-title">Collectivism v. Individualism in the World of Climate Change</h3>
              <div class="tile-description">By Jared Garson and Ellen Wilhelm</div>
            </div>
            </a>
        </div>
        <div class="project-tile">
          <a href="{{ url_for('project', project_name='Conflict_in_Libya') }}">
            <div class="hide-placeholder"></div>
            <img class="project-img" src="{{ url_for('static', filename='images/conflict_in_libya.jpg') }}"/>
            <div class=project-tile-text>
              <h3 class="tile-title">Libya: Past Traumas and an Uncertain Future</h3>
              <div class="tile-description">By Quint Nigro and Soham Basu</div>
            </div>
            </a>
        </div>
        
        <div class="project-tile"> 
          <a href="{{ url_for('project', project_name='Fear_on_The_Bounds') }}">
            <div class="hide-placeholder"></div>
            <img class="project-img" src="{{ url_for('static', filename='images/fear_on_the_bounds.jpg') }}"/>
            <div class=project-tile-text>
              <h3 class="tile-title">Fear on The Bounds: Border rhetoric and policies of modern American politics</h3>
              <div class="tile-description">By Gabrielle Watson & Carter George</div>
            </div>
            </a>
        </div>
        <div class="project-tile"> 
          <a href="{{ url_for('project', project_name='From_Culture_War_to_Conversation') }}">
            <div class="hide-placeholder"></div>
            <img class="project-img" src="{{ url_for('static', filename='images/from_culture_war_to_conversation.png') }}"/>
            <div class=project-tile-text>
              <h3 class="tile-title">Culture War to Conversation: Complex Approach to Safe Spaces & Trigger
                Warnings on College Campuses</h3>
              <div class="tile-description">Jonah Henkle and Lauren Hagemeister</div>
            </div>
            </a>
      </div>
        <div class="project-tile">
          <a href="{{ url_for('project', project_name='From_Dummies_to_Assassins') }}">
            <div class="hide-placeholder"></div>
            <img class="project-img" src="{{ url_for('static', filename='images/from_dummies_to_assassins.jpg') }}"/>
            <div class=project-tile-text>
              <h3 class="tile-title">From Dummies to Assassins: How Drones Became A Centerpiece of US Foreign Policy</h3>
              <div class="tile-description">By Rya Jetha and Hannah Jacobs</div>
            </div>
            </a>
        </div>
        <div class="project-tile">
          <a href="{{ url_for('project', project_name='Religion_and_Vaccine') }}">
            <div class="hide-placeholder"></div>
            <img class="project-img" src="{{ url_for('static', filename='images/religion_and_vaccine.jpg') }}"/>
            <div class=project-tile-text>
              <h3 class="tile-title">Religion and the Vaccine: religious rejection or acceptance of the coronavirus vaccine</h3>
              <div class="tile-description">By Michaela Skelley and Isabel Pastoor</div>
            </div>
            </a>
        </div>
        <div class="project-tile">
          <a href="{{ url_for('project', project_name='How_We_Ended_Up_Here') }}">
            <div class="hide-placeholder"></div>
            <img class="project-img" src="{{ url_for('static', filename='images/how_we_ended_up_here.jpeg') }}"/>
            <div class=project-tile-text>
              <h3 class="tile-title">A Brief History of How the Hell We Ended Up Here</h3>
              <div class="tile-description">By Taylor Pisani and Kathryn Looff</div>
            </div>
            </a>
        </div>
      </div>
    </div>
  </main>
{% endblock %}