{% extends 'base.html' %} {% block main %}    <div class="page-content">
      <div class="project-page-header">
        <h2>All Projects</h2>
        <div class="project-page-links">
          <a>Topic 1</a>
          <a>Topic 2</a>
          <a>Topic 3</a>
        </div>
    </div>
      <div class="wrapper">
        <div class="project-tile">
          <a href="{{ url_for('project', project_name='Addressing_Misconceptions') }}">
          <div class="hide-placeholder"></div>
          <img class="project-img" src="{{ url_for('static', filename='images/addressing_misconceptions.jpg') }}"/>
          <div class=project-tile-text>
            <h3 class="tile-title">Addressing Misconceptions About Critical Race theory within K-12 Classrooms</h3>
            <div class="tile-description">By Madison Rosensaft and Olivia Schmidt</div>
          </div>
          </a>
        </div>
        <div class="project-tile">
          <a href="{{ url_for('project', project_name='Alternative_Medias_Role') }}">
            <div class="hide-placeholder"></div>
            <img class="project-img" src="{{ url_for('static', filename='images/alternative_medias_role.jpeg') }}"/>
            <div class=project-tile-text>
              <h3 class="tile-title">Alternative Media’s Role in Polarization and Democracy</h3>
              <div class="tile-description">By Katrina Kuzmina, Mark Marino, Kayla Sloan</div>
            </div>
            </a>
        </div>
        <div class="project-tile">Two</div>
        <div class="project-tile">Three</div>
        <div class="project-tile">Four</div>
        <div class="project-tile">Five</div>
        <div class="project-tile">Six</div>
        <div class="project-tile">Seven</div>
        <div class="project-tile">Eight</div>
        <div class="project-tile">Nine</div>
        <div class="project-tile">Ten</div>
        <div class="project-tile">Eleven</div>
        <div class="project-tile">Twelve</div>
      </div>
    </div>
  </main>
{% endblock %}