{% extends 'base.html' %} {% block main %}
<div class="page-content">
    <DIV id="page_1">
        <DIV id="p1dimg1">
            <IMG src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMAAAAABCAIAAAAHCjZBAAAAD0lEQVQokWNgGAWjgAIAAAJBAAHdwPQrAAAAAElFTkSuQmCC"
                id="p1img1">
        </DIV>


        <P class="p0 ft0">Social Media Censorship</P>
        <P class="p1 ft1">By Jackson Rowley & Ben Smith</P>
        <P class="p2 ft1">News media censorship is no new topic. Debate over the relative importance of censoring
            heretical viewpoints and protecting individuals ability to express themselves freely is an ancient practice.
            In fact, libel laws meant to protect public figures from being unfairly and excessively criticized go back
            at least as far as 400 BC in Athens.<SPAN class="ft2">1 </SPAN>At the time, certain politicians were
            convinced that comic playwrights were having a bit too much fun with their creative license and jeopardizing
            the reputation of undeserving people. This is around the time of Socrates’s famous trial for impiety and
            corrupting the youth. What does Plato make of his defence? A <NOBR>long-winded</NOBR> speech in large part
            outlining the necessity of free thought and deliberation, especially on the topics of philosophical and
            political inquiry. Probably the most famous philosopher in Western history, Socrates, was thus martyred in
            the name of free speech. In his day the audience was limited to those within hearing distance who could
            afford the <NOBR>free-time</NOBR> and education to listen, a relatively extreme minority. Thanks to the
            internet, ours is the age of free and unlimited communication where certain individuals can make a case to
            millions of people immediately with a simple Tweet. Though the issue of censorship is ancient, the stage on
            which it is based has changed so exponentially in the last 50 years that it’s implications are far grander.
            This is an issue which demands clear and deliberate thought.</P>
        <P class="p3 ft1">While the issue may have ancient roots, one must keep in mind that the specific case of news
            media censorship today <NOBR>--particularly</NOBR> on social media sites such as Twitter and <NOBR>
                Facebook--</NOBR> is distinct for a couple of reasons. Firstly, “about <NOBR>two-thirds</NOBR> of people
            in the United States get their news on social media<SPAN class="ft2">2</SPAN>,” Facebook being the most
            popular choice.<SPAN class="ft2">3 </SPAN>This is a significant movement towards the centralization of
            consumer news outlets. Basically over half of US citizens use social media sites for news information, the
            relevant examples of which you could count on a single hand, and the younger generation significantly
            prefers them to other outlets.<SPAN class="ft2">4 </SPAN>Just as printed newspapers and radio lost much of
            the market to cable news in the 80s, social media sites are selling today. While some might have worried
            about the difference between mediums then, that shift was relatively minuscule to the one taking place now.
        </P>
        <P class="p4 ft1">There are many differences between social media platforms and alternative mediums, but there
            is one which is especially relevant to news dispersion. Theoretically, these sites are decentralized. That
            is, individuals consume content which was curated by other unlicensed, and at times even anonymous,
            individuals. While <NOBR>20-somethings</NOBR> of the 80s might have gotten their information from a talking
            head whose career was completely dependent on being generally trusted, young people today check out what
            Donald Trump, Tom Hanks, and their grandmother are thinking and reading while they use the bathroom. In
            general, this is where young adults get their sense of the <NOBR>world-out-there.</NOBR>
        </P>
       
    </DIV>
    <DIV id="page_2">


        <P class="p6 ft1">This decentralization has many potential benefits, of course. For example, within minutes one
            can consume a great range of different perspectives on a single “trending” current event from both experts
            and laypeople. We could potentially <NOBR>pick-through</NOBR> this “marketplace of ideas” to come by
            something more truthful and less prone to the bias of a single spokesperson.</P>
        <P class="p0 ft1">Unfortunately, this is not how much of the public seems to use social media. In fact, it’s
            basically the other way around.</P>
        <P class="p7 ft1">One must remember that social media sites operate at least partially <NOBR>--and</NOBR>
            usually far more than <NOBR>that--</NOBR> for the profit of their owners. These sites are only going to
            profit if they can collect and maintain their consumer base in the most efficient means possible. Due simply
            to the psychology of the human mind, leading users into confrontation with alternative perspectives is
            simply an inefficient method of increasing their <NOBR>screen-time.</NOBR> We are not attracted to
            viewpoints which do not align with our own. Quite naturally, we avoid people, places, and things that force
            us to reconsider our perspectives. Of course, we might elect to act in another way. You might decide to
            follow both Fox and CNN on Twitter, though you probably enjoy seeing what one has to say over the other.
            Theoretically, all social media users could act in such a manner and the “marketplace of ideas” might be
            realized. But there are tens, even hundreds of millions of individuals on any relevant social media site
            and, unsurprisingly, many prefer to enjoy their <NOBR>screen-time</NOBR> rather than spend it engaging in
            effortful, empathetic listening. To protect their profits, social media sites work to make their sites
            enjoyable, and that means showing us what we want to see. As a side effect, many of us end up in deep and
            polarized rabbit holes of opinion. It is within such rabbit holes that some develop beliefs which, to
            outsiders, seem absolutely incomprehensible.</P>
        <P class="p8 ft1">People of differing political persuasions disagree on how exactly to combat this tendency, go
            figure, but from our research it seems that there is actually bipartisan agreement on this being a problem
            that calls for some sort of reform, especially in a particular case.</P>
        <P class="p9 ft1">One major concern that has become increasingly relevant is that of foreign manipulation
            through social media “bots,” such as those used by Russian actors to meddle in the 2016 election. Americans
            are understandably concerned about foreign enemies intervening in our social and political discourse for
            nefarious purposes. The policy they disagree on is how exactly to censor these voices. Some are comfortable
            leaving this business up to the business itself. After all, social media corporations are private
            corporations like any other and they have the right to manage the voices on their platforms. Others do not
            trust the corporations themselves to censor certain perspectives. They prefer to defer to the US government
            in managing concerns of foreign threats. In either case, people believe that some action must be taken to
            manage this issue. When asked to consider similar problems, such as recruitment for terrorist organizations,
            they again agree on the necessity of some direct intervention. However when pressed for a definition of
            terrorism from which to make such assessments, people disagree. Liberals often wish to include QAnon
            theorists in their definitions and conservatives Antifa.</P>
        <P class="p10 ft1">There seems also to be a <NOBR>party-based</NOBR> fraction on whether or not alternative
            means for censorship, such as Twitter’s <NOBR>fact-checking</NOBR> project, are viable solutions.
            Conservatives, for example, tend to believe such programs are biased by a liberal lens.</P>
    </DIV>
    <DIV id="page_3">
        


        <P class="p11 ft1">A few of the basic differences of opinion in social media censorship in general come out of
            this issue. Is censorship necessary, or is <NOBR>fact-checking</NOBR> sufficient? Who can censor? Who can
            they censor? How and to what extent? <SPAN class="ft6">(</SPAN><A href="https://youtu.be/uQ7Go96EiGs"><SPAN
                    class="ft7">Company Rights</SPAN></A>)</P>
        <P class="p0 ft1"><strong>Freedom of Speech in Law</strong></P>
        <P class="p12 ft1">When the issue of censorship is posed more generally, without specific reference to the 2016
            election or terrorism, we see a <NOBR>trade-off</NOBR> between the democratic ideal of free expression and
            the paternalistic desire to protect individuals from unreasonable positions. It was likely no accident that
            our right to freedom of speech became the first amendment of the bill of rights. America was founded on
            rebellion and thus deeply ingrained with a sense of doubt over paternalist policy and the manipulation of
            popular opinion. The protection of speech was meant to ensure a healthy counter to the opinions and policies
            of powerful individuals and was thought to be a cornerstone of any <NOBR>self-proclaimed</NOBR> democracy.
            One who is wary of the power of social media corporations might be tempted to point to such a right to
            protect their freedom of expression online. However, when considering the legal precedents derived from the
            first amendment, such an argument is liable to backfire. For example, in the famous <SPAN class="ft8">Boy
                Scouts of America v. Dale </SPAN>case of 2000, the Supreme Court ruled that corporations too have a
            right to freedom of speech and that implicit in this right is “‘a corresponding right to associate with
            others in pursuit of a wide variety of political, social, economic, educational, religious, and cultural
            ends.’”<SPAN class="ft2">5 </SPAN>Because the Boy Scouts of America were able to establish that
            homosexuality was antithetical to their organizational mission, they could argue that exclusion of
            expressedly homosexual individuals from their organization is protected under the right to freedom of
            speech. The organizational mission of a corporation like Facebook or Twitter may be less clear than it was
            in this case, but the point is that organizations too have a right to free speech and that their right
            overrides that of any individual operating within that organization. The precedent seems to suggest that
            Twitter and Facebook have a right to exclude certain voices. (<A href="https://youtu.be/2cFqvJ3w1VU"><SPAN
                    class="ft7">Fact Checkers</SPAN></A>)</P>
        <P class="p13 ft1">There is, however, a distinction which complicates this case. In First Amendment law, the
            legal concept of the “public forum” has frequently been used in courts to argue against the exclusion of
            expressive acts from public spaces. It comes in degrees, from “quintessential public forums,” to “designated
            or limited forums,” to “nonpublic forums” with descending levels of protection respectively assigned.<SPAN
                class="ft2">6 </SPAN>The doctrine has in fact been employed by a few courts in 2019 in a case involving
            Twitter. As the case was appealed multiple times, multiple courts concluded that Donald Trump engaged in
            unconstitutional viewpoint discrimmination when individual Twitter users were blocked from his account, and
            thus from participation in the threads attached to his tweets. Because his Twitter threads represented a
            public forum, he had no right to suppress certain voices on it. The case was eventually vacated by the
            Supreme Court for mootness <NOBR>--basically</NOBR>
            <NOBR>obsoletion--</NOBR> as Trump was no longer president and his account had been deleted by the time of
            review.<SPAN class="ft2">7</SPAN>
        </P>
     
       
    </DIV>
    <DIV id="page_4">


        <P class="p16 ft1">Though the Supreme Court vacated the case, it was admittedly due to newfound irrelevance
            rather than a disavowal of the previous decision. One might then imagine the case still suggests that
            Twitter represents a public forum, where restrictions on expression are unconstitutional. But the ruling does not necessarily suggest this. The case established Trump’s threads as a
            public forum not simply because they took place in an easily accessible “interactive space,” but because
            they took place on a government run platform, a platform that, while within a private corporation, was
            established by a governmental body, the President. This is not a precedent establishing Twitter as a public
            forum, in fact the courts stated that “use of the platform is governed by terms of service which users agree
            to when they use the platform,” presumably suggesting that the rules of the platform are governed only by
            the writers of these terms of service.</P>
        <P class="p17 ft1">The legal definition of a public forum seems to exclude platforms which are not founded by
            governments and have no <NOBR>long-standing</NOBR> tradition of representing places where public speech is
            held. In fact, the term was originally coined in reference to parks. Obviously, corporations like Twitter
            and Facebook are neither of these things, but considering the extent of their power in the way of modern
            human communication <NOBR>--consider</NOBR> the last time you talked politics in a park vs. on <NOBR>
                Twitter--</NOBR> perhaps this policy could use a bit of reformation. The difficulty is, when it comes to
            constitutional law, reformation is a bit of a dirty word. After all, the intention of the constitution was
            to exhaustively define and outline the rights of citizens. The more <SPAN class="ft8">liberal
            </SPAN>constitutional scholars might take its prescriptions to be implicit and abstract while the <SPAN
                class="ft8">conservative </SPAN>approach is more literal, but few would go so far as to suggest that it
            should be basically altered. As we become increasingly removed from the world of our founders and the bounds
            of their imaginations, more of the public seems to wonder about this basic assumption. Though the relevance
            of the constitution itself is beyond the purview of this paper, it might be useful to consider the debate as
            if our policies were unbounded by this document to get to the core reasoning behind either side. After all,
            there is a branch of legal scholarship known as realism which generally sees court decisions as an attempt
            to find <NOBR>after-the-fact</NOBR> legal justifications for previously determined policy prescriptions. (<A
                href="https://youtu.be/VH3XWf0X-zk"><SPAN class="ft7">Privatization of social media</SPAN></A>)</P>
        <P class="p18 ft11"><strong>The Debate</strong></P>
        <P class="p19 ft1">I intend throughout this paper to express the best arguments of either side of the debate as
            well as I can. Nonetheless I naturally, consciously and otherwise, hold biases against certain perspectives
            due to my own mental blindspots. While certainly curious and undecided on the best solution to this issue, I
            find myself to be generally more cautious of censorship than the average person. I will present the case for
            censorship first, and as honestly as I can, in hopes that it’s merits will diminish my biases.</P>
    </DIV>
    <DIV id="page_5">
       


        <DIV id="id5_1">
            <P class="p21 ft1">First off, the term censorship as used here can be understood to mean a direct hindrance
                placed on posts by an individual or party which exceeds the power of hindrance of average users. Now the
                main argument for allowing this sort of censorship assumes that said individual or party is capable of
                assessing which posts are not worth being seen. This does not mean that they must know what <SPAN
                    class="ft8">is </SPAN>worth being seen, whether by its truthfulness or value. That would likely be a
                very difficult assessment to make. All they must be able to determine is that certain posts, maybe only a
                select few, are not worth being seen. For example, anybody who might be considered slightly reasonable by
                anybody else would agree that a post promoting daily lead ingestion as a health tonic is not worth being
                seen. Not only is it not worth being seen, but actually it is probably worth not being seen. This is not
                just because that is a waste of your time to read. Worse yet, somebody might actually take that advice. If we have a duty to care for our fellow
                humans, then we have a duty to prevent them from doing such things when we can. And, in fact, we can. We
                can keep such posts off of platforms that would otherwise disseminate them.</P>
            <P class="p22 ft1">One might counter this by arguing that determining what is not worth seeing is actually a
                very difficult thing to do. For example, it could be that ingesting lead regularly is actually good for
                one's health and that society at large, those who conform to viewpoints which “anybody who might be
                considered slightly reasonable by anybody else,” is simply misguided about. In fact, had you denied a
                bloodletting treatment to ease an illness before the 19th century in Europe, doctors might have
                considered you unreasonable. Maybe you think this was an extraordinary case before the age of science,
                but in the early 1900s a doctor might have prescribed you heroin to relieve your cold. The truth is,
                nobody, not the scientists nor doctors nor Zuckerburg can claim to be certain of anything without lying.
                Hence, we shouldn’t allow them to censor certain viewpoints on such grounds.</P>
            <P class="p23 ft1">One might now point out that any reasonable person would concede that their lack of <SPAN
                    class="ft8">complete </SPAN>certainty on such suggestions as the health benefits of lead hardly
                justifies its amplification. This is probably true. We can all agree that it's better for such
                suggestions to be left unposted or even removed. The problem is, this is not the sort of post that this
                debate concerns itself with. Instead, individuals are making seemingly outlandish claims about the state
                of our government, country, and the world at large. And, however absurd sounding the claims may be to
                you, their truth value is far less apparent than that of the lead example. Not only this, but the policy
                their suppression requires would be far more complicated and potentially corrupted. It wouldn’t be “when
                a claim that has absolutely no scientific evidence backing it and thousands of studies denying it’s
                validity is made, ‘Insert Site Here’ will remove it.” Instead, even the most stringent political post
                censoring policy would require something more like “when a claim that seems extraordinarily unlikely by
                the staff at ‘Insert Site Here’ (or Congress) is posted, it will be removed,” and that might involve
                posts that directly or indirectly question the integrity of the bodies reviewing it, the staff or
                Congress.</P>
            <P class="p24 ft1">Hold on, one might say. There is a difference between the overseeing body suppressing or
                removing posts which might question their authority and posts which are downright absurd and could
                potentially lead to violence or <NOBR>self-harm.</NOBR> For example, the Capitol protests of this year
                lead to more than 140 injuries and a number of deaths. The whole event could have been prevented had
                social media companies stepped in to suppress the movement. It is irresponsible to protect citizens'
                right to disseminate dangerous and false beliefs when such beliefs have a death toll.</P>
            <P class="p15 ft1">Well there is an issue with this argument. The country is generally divided along party
                lines on which speech meets the criteria for “dangerous and false.” For example, according to The
                Guardian, 9 people taking part in the recent collection of Black Lives Matter protests were killed, and
                many more injured.<SPAN class="ft2">8 </SPAN>Some conservatives would posit that the organizers of these
                protests, who operated in <NOBR>large-part</NOBR> on popular social media platforms, were disseminating
                dangerous and false information. Indeed, our own interviews suggest polarized takes on the validity of
                Antifa and QAnons rhetoric and organization on these platforms.<SPAN class="ft3">8</SPAN><SPAN class="ft4">Beckett, “At least 25 Americans were
                    killed.”</SPAN></P>
        </DIV>
       
    </DIV>
    <DIV id="page_6">


        <P class="p25 ft1">Sure, one could say, Americans disagree on the validity of QAnon and Antifa, but very few
            consider Isis recruitment or Russian propaganda to be in any way useful. In fact, let us remember, both
            political parties in America agree on the necessity of removing these groups from social media. Are you
            willing to suggest that the slim chance of some grain of truth in their posts warrant their apparently
            devastating consequences?</P>
        <P class="p26 ft1">The response, again, is to point out that we all may be deluded about the truth and thus are
            unqualified to limit others' exploration of it. Of course, one might reasonably wish to accept this
            possibility but censor nonetheless to avoid the certainty that failing to do so will lead to the
            distribution of propaganda which could bring about violence and incivility, or even, perhaps as the
            Russian’s might wish, a manipulated and <NOBR>non-functioning</NOBR> voter population. Implicit in this
            reasoning though is the belief that removing these posts from popular social media platforms diminishes
            their potency. But one could argue as JS Mill did in <SPAN class="ft8">On Liberty</SPAN>, that censoring
            viewpoints only quiets or displaces their believers, encouraging them into isolated communities in which
            their ideas will be bolstered rather than questioned.</P>
        <P class="p27 ft1">One might finally retort that social media corporations have the same right to control what
            ends up on their feeds as we control what comes out of our mouths. The right to freedom of speech is not the
            right to have your speech amplified by powerful organizations. The staff at these organizations acquired
            their power more or less fair and square, so they have the right to use this power for their desired ends.
            Not only this, but they have a responsibility to use their power to prevent unnecessary violence and
            ignorance. If they employ a slightly more liberal or conservative lens in making their assessments, that is
            their right. Basically, the speech happens on their platform and is thus under their control. If an excluded
            voice wishes to be heard, they can express their views elsewhere. (This is, if you recall, what the legal
            precedent seems to suggest.)</P>
        <P class="p28 ft1">The counter here involves a question of when and whether an organization can become too
            powerful for such a right. If we consider the government regulations on monopolies, we can see the point
            more clearly. Say some corporation has developed a device which is so useful and ubiquitous that anyone who
            wishes to find employment must purchase it. Maybe something akin to Neuralink, that makes every user a 100x
            more productive worker. If said corporation attempted to sell this device at an exorbitant price, despite
            it’s cheap cost of production, the government would step in. The device would have become essential and,
            considering it’s present patent, temporarily immune from competition. The argument for the government's
            intervention here is that people cannot sustain themselves without this invention, that they have a right to
            be able to sustain themselves, and thus it must be affordable. Unless you are a rather extreme <NOBR>
                free-market</NOBR> libertarian, you’d probably agree. (<A href="https://youtu.be/t7QJhKZ1JJg"><SPAN
                    class="ft7">Can companies influence public discourse?</SPAN></A>)</P>
        <P class="p29 ft1">Admittedly, this is not the state of Twitter or Facebook. But how far off are they really?
            These corporations are on target to become the most active discussion platforms in the world. They are the
            preferred platform for news consumption among youths and significant sources even for older adults. If one
            has a right to unmitigated <NOBR>self-expression,</NOBR> and probably any effective democracy requires such
            a right, they might realistically have a right to unmitigated <NOBR>self-expression</NOBR> on these
            platforms, which are quickly becoming the only game in town. Just as the device manufacturer of our example
            has no right to use exclusionary pricing on an item that’s use is essential, a social media platform might not have a right to exclude voices given that
            speech is essential. Thankfully, the analogy is more than a bit off considering that there is still some
            competition among social media corporations and that they are not quite truly essential for <NOBR>
                self-expression.</NOBR> But is it off enough for us to accept their policies? When does it become too
            close for comfort?</P>
    </DIV>
    <DIV id="page_7">
       


  
        <P class="p31 ft1">I think we’ve mostly covered the bases here, but there is always more to be said and I am
            certainly not the ultimate authority on this debate, so I encourage readers to explore it further on their
            own. As for this paper, let us now survey some potential <NOBR>middle-ground</NOBR> solutions. <NOBR>
                Middle-Ground</NOBR> Solutions<SPAN class="ft2">9</SPAN></P>
        <P class="p32 ft1">First off, social media corporations could be allowed to enforce whatever regulations they
            wish, with the stipulation that they publicly disclose these policies. This sort of policy has some appeal.
            It requires very little of the corporations and doesn’t risk infringing on their rights, while
            simultaneously ensuring that users are aware of the restrictions imposed on them. It’s a sort of explicit
            contract between the user and the corporation. Of course, this policy is also subject to the criticism waged
            above. If involvement on these platforms is necessary for political <NOBR>self-expression</NOBR> in the
            modern era, then the <NOBR>would-be</NOBR> users have no real bargaining power. The contract could be
            perceived as coercive.</P>
        <P class="p33 ft1">Another option, and it should be noted that many of these policies could be used in tandem,
            is that corporations are allowed to demote posts through algorithms without removing them outright. This way
            they are not directly limiting certain forms of speech, but rather refusing to amplify it. This would be
            like chanting over the voice of someone attempting to express themselves in a public park, to reorient
            things under the purview of public forum legislation. This has appeal if we consider the platforms a freely
            organized body and their power to overcome other voices righteous. But again one might wonder how freely it
            has been organized (is it coercive?) and, effectively, whether this is any different than removing posts
            outright. Conversely, people might deem it irresponsible to leave apparently misleading and dangerous posts
            on the site given that some still might be affected by them.</P>
        <P class="p34 ft1">Many people are aware of the <NOBR>fact-checking</NOBR> policies Twitter recently implemented
            on their site. Basically, posts which are deemed deceptive or outright false by algorithms or staff at the
            companies could be marked with a sort of “this isn’t true” stamp, and a link to contradictory evidence. One
            can appreciate the “fight bad reasoning with good reasoning” intention of these policies, and in this way
            they’re <NOBR>in-line</NOBR> with <NOBR>marketplace-of-ideas</NOBR> logic. But still one might feel a bit
            <NOBR>thought-policed</NOBR> by the additions, and indeed conservatives already complain that Twitter’s
            policy unequally targets rightist perspectives. Others too will think that the policy fails to properly
            address such content as terrorist organization propaganda. After all, one can hardly imagine a <NOBR>
                would-be</NOBR> Isis member ignoring calls to action on the basis of Twitter disagreeing.</P>
        <P class="p35 ft1">Less controversial options include; removing illegal content like child pornography or
            directly <NOBR>violence-inciting</NOBR> posts, requiring users to identify themselves before posting, and
            having Congress review and regulate policies. The first option, removing illegal content, is probably the
            least controversial, after all the internet in general is already <NOBR>--poorly</NOBR> but <NOBR>still--
            </NOBR>regulated in this <SPAN class="ft3">9</SPAN><SPAN class="ft4">Radin, "Freedom of Speech.” </SPAN>
            <NOBR>215-30</NOBR></P>

    </DIV>
    <DIV id="page_8">


        <P class="p16 ft1">manner. Requiring those who post to identify themselves is less benign. It would probably
            significantly resolve such issues as the <NOBR>Russian-bot,</NOBR> 2016 scandal, but it could also be
            interpreted as an intimidation tactic against dissidents. Having Congress review posts might be even more
            controversial. Firstly, these corporations operate internationally, whether <NOBR>US-based</NOBR> or not. So
            it seems questionable to allow the US government to actively regulate them. Secondly, this is a bit
            antithetical to freedom of speech law, meant to protect the populace against governmental manipulation. Of
            course, the policy at least promotes a <NOBR>check-and-balance</NOBR> system between the corporation and the
            government which might diminish the potential for tyranny if one were operating unilaterally.</P>
        <P class="p36 ft1">These are some of the more frequently discussed solutions, but, again, there are surely far
            more out there and still more yet to come. If you’re curious or have an idea, search
            #socialmediapolarization on Twitter or something.</P>
        <P class="p7 ft11"><strong>Conclusion</strong></P>
        <P class="p37 ft1">Clearly the issue of individuals’ rights to freedom of speech on social media platforms is an
            extremely complex and important one. As we have seen, it has become, and probably will continue to become,
            an ever more pressing and impactful one. However, when we approach the question more broadly, we can see
            that it has origins about as ancient as politics itself. Some people are gullible to irrational beliefs, and
            I hardly mean to specify as it could easily be you or I. Naturally, we wish that they could see more clearly
            the truth of things, especially when their beliefs lead to pain and suffering. But to tell them the truth
            authoritatively, or to allow another to do so, is to risk enforcing our own or another’s irrationalities.
            The tradeoff is between a false sense of certainty and a certain degree of falsity. It is up to us to decide
            between the two. As things stand now, the least we can do is to consider our options deeply and critically.
            Hopefully we do. (<A href="https://youtu.be/jvI7_OKWR9E"><SPAN class="ft7">Is political discourse online a
                    positive experience?</SPAN></A>)</P>

        <div id="footnotes"><p><strong>Footnotes</strong>
        </p></div>
        <P class="p5 ft1"><SPAN class="ft3">1</SPAN><SPAN class="ft4">Radin, "Freedom of Speech.” </SPAN>
            <NOBR>215-30</NOBR>
        </P>
        <P class="p0 ft1"><SPAN class="ft3">2</SPAN><SPAN class="ft4">Etzioni, </SPAN><SPAN class="ft5">“</SPAN>Should
            We Privatize Censorship?” <NOBR>19-22</NOBR>
        </P>
        <P class="p0 ft1"><SPAN class="ft3">3 </SPAN>Geiger, “Key findings.”</P>
        <P class="p0 ft1"><SPAN class="ft3">4 </SPAN>Shearer, “More than <NOBR>eight-in-ten.”</NOBR>
        </P>
        <P class="p15 ft1"><SPAN class="ft9">5</SPAN><SPAN class="ft4">Cornell, </SPAN><SPAN class="ft10">“</SPAN>BOY
            SCOUTS.”</P>
        <P class="p0 ft1"><SPAN class="ft3">6</SPAN><SPAN class="ft4">Hudson Jr., “ Public Forum Doctrine.”</SPAN></P>
        <P class="p0 ft1"><SPAN class="ft2">7 </SPAN>Knight v. Trump (2019)</P>




        <P class="p38 ft1"><strong>Notes</strong></P>
        <P class="p39 ft1">Max Radin, "Freedom of Speech in Ancient Athens." <SPAN class="ft8">The American Journal of
                Philology </SPAN>48, no. 3 (1927): <NOBR>215-30.</NOBR> <A
                href="https://www.jstor.org/stable/290126"><SPAN
                    class="ft7">https://www.jstor.org/stable/290126</SPAN></A></P>
        <P class="p40 ft14">Amitai Etzioni, "Should We Privatize Censorship?" <SPAN class="ft12">Issues in Science and
                Technology </SPAN>36, no. 1 (2019): <NOBR>19-22.</NOBR> <A
                href="https://www.jstor.org/stable/26949072"><SPAN
                    class="ft13">https://www.jstor.org/stable/26949072</SPAN></A>.</P>
        <P class="p41 ft14">A.W. Geiger, “Key findings about the online news landscape in America,” <SPAN
                class="ft12">Pew Research Center</SPAN>, September 11, 2019, <A href="https://pewrsr.ch/34CNdu3"><SPAN
                    class="ft13">https://pewrsr.ch/34CNdu3</SPAN></A></P>
    </DIV>
    <DIV id="page_9">


        <P class="p21 ft1">Elisa Shearer, “More than <NOBR>eight-in-ten</NOBR> Americans get news from digital devices,”
            <SPAN class="ft8">Pew Research Center</SPAN>, January 12, 2021, <A href="https://pewrsr.ch/2MZqns7"><SPAN
                    class="ft7">https://pewrsr.ch/2MZqns7</SPAN></A></P>
        <P class="p42 ft1"><SPAN class="ft10">“</SPAN>BOY SCOUTS OF AMERICA V. DALE,” Cornell Law School, Accessed
            August 6, 2021, <NOBR><A href="https://www.law.cornell.edu/supct/html/99-699.ZO.html"><SPAN
                        class="ft7">https://www.law.cornell.edu/supct/html/99-699.ZO.html</SPAN></A></NOBR>
        </P>
        <P class="p43 ft1">David L. Hudson Jr., “ Public Forum Doctrine,” <SPAN class="ft8">The Free Speech
                Center</SPAN>, 2009 <NOBR><A
                    href="https://www.mtsu.edu/first-amendment/article/824/public-forum-doctrine"><SPAN
                        class="ft7">https://www.mtsu.edu/first-amendment/article/824/public-forum-doctrine</SPAN></A>
            </NOBR>
        </P>
        <P class="p44 ft1">KNIGHT FIRST AMENDMENT INSTITUTE v. Trump, Court of Appeals, 2nd Circuit (2019) <A
                href="https://scholar.google.com/scholar_case?case=6033592323275581683&hl=en&as_sdt=6,44&as_vis=1"><SPAN
                    class="ft7">https://scholar.google.com/scholar_case?case=6033592323275581683&hl=en&as_sdt=6,44&as_
                    vis=1</SPAN></A></P>
        <P class="p45 ft1">Lois Beckett, “At least 25 Americans were killed during protests and political unrest in
            2020,” <SPAN class="ft8">The Guardian</SPAN>, October 31, 2020, <NOBR><A
                    href="https://www.theguardian.com/world/2020/oct/31/americans-killed-protests-political-unrest-acled"><SPAN
                        class="ft7">https://www.theguardian.com/world/2020/oct/31/americans-killed-protests-political-unrest-acled</SPAN></A>
            </NOBR>
        </P>
    </DIV>
</div>
{% endblock %}