<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Davis Project for Peace</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous"/>
  </head>
  <body>
    <header id="navbar">
      <h1 id="logo"><a href="{{url_for('get_main_page')}}">Davis Project for Peace</a></h1>
      <nav>
        <ul>

        </ul>
      </nav>
    </header>
    <main>
      <div class="page-content">
        <p>Your application has been submitted and is under review. Click <a href="{{url_for('get_main_page')}}">here</a> to return to the main page.</p>
      </div>
    </main>
    <footer>
      <div id="footer-top-container">
        <div class="line"></div>
        <h3 id="socials">Follow us: <i class="fab fa-instagram"></i>  <i class="fab fa-facebook"></i>  <i class="fab fa-twitter"></i></h3>
        <div class="line"></div>
      </div>
      <div id="footer-content">
        <h2>Contact Us</h2>
      </div>
    </footer>
    <script src="{{ url_for('static', filename='app.js') }}" defer></script>
  </body>
<html>
