@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Libre+Baskerville&display=swap');

:root {
	--main-whitegray: #F8F8F8;
	--main-lightgray: #EEEEEE;
	--main-medgray: #CCCCCC;
	--main-gray: #BBBBBB;
	--main-darkgray: #525252;
}

html {
	width: 100vw;
}

body {
	margin: 0 0 0 0;
	overflow-x: hidden;
	width: 100vw;
	font-family: 'Libre Baskerville', serif;
	background-color: var(--main-whitegray);
	min-height: calc(100vh - 80px - 5vh);
	position: relative;
}

h1, h2, h3{
	font-family: 'Dosis', sans-serif;
	font-weight: normal;
}

h2 {
	font-weight: bold;
}

#navbar{
	font-family: 'Dosis', sans-serif;
	width: 100vw;
	height: 70px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--main-whitegray);
	box-shadow: 0px 5px 15px #888888;
	line-height: 70px;
	z-index:1;
}

#logo {
	float: left;
	margin: 0 0 0 5vw;
	line-height: 70px;
	color: black;
}

nav {
	float: right;
	margin: 0 5vw 0 0;
}

#navbar a {
	text-decoration: none;
	color: black;
}

#navbar a:hover{
	text-decoration:underline;
}

main {
	margin-top: 70px;
	padding-bottom: calc(15vh + 2em + 3.2em);
}

#image-container {
	text-align: center;
	margin-top: calc(70px + 5vh);
}

.circle{
	list-style-type: circle;
}

.content {
	margin: 5vh 5vw;
}

.page-content {
	margin: calc(80px + 5vh) 5vw 5vh 5vw;
}

form {
	margin: calc(80px + 5vh) 5vw 5vh 5vw;
}

label {
	margin-top: 5vh;
}

input[type=text], input[type=text]:focus, input[type=number], input[type=number]:focus {
	font-family: 'Libre Baskerville', serif;
	width: 88vw;
	padding: 1vh 1vw;
	margin: 1vh 1vw 6vh 1vw;
	box-sizing: border-box;
	border-radius: 0px;
	border-width: 1px;
	outline: none;
}

input[type=button], input[type=submit], input[type=reset] {
	font-family: "Libre Baskerville", serif;
	border: none;
	padding: 10px 15px;
	text-decoration: none;
	cursor: pointer;
	background-color: var(--main-gray);
}

input[type=button]:focus, input[type=submit]:focus, input[type=reset]:focus {
	outline-width: 1px;
}

#long-question-container{
	margin-bottom: 5vh;
}

textarea {
	font-family: "Libre Baskerville", serif;
	width: 88vw;
	height: 50vh;
	padding: 1vh 1vw;
	margin: 1vh 1vw;
	box-sizing: border-box;
	border: 1px solid;
	border-radius: 0px;
	resize: none;
}

textarea:focus {
	box-sizing: border-box;
	border-radius: 0px;
	border-width: 1px;
	outline: none;
}

footer {
	font-family: 'Dosis', sans-serif;
	color: var(--main-darkgray);
	margin-top: 10vh;
	position: absolute;
	bottom: 0;
	margin: 0vh 5vw 5vh 5vw;
}

footer a {
	color: var(--main-darkgray);
}

#footer-top-container {
	display: flex;
	width: 90vw;
}

.line {
	float: left;
	height: .7em;
	width: 90vw;
	border-color: var(--main-medgray);
	border-bottom-style:solid;
	border-width: 1px;
}

.thirdline {
	float: left;
	width: 25vw;
	height: .7em;
	border-color: var(--main-medgray);
	border-bottom-style:solid;
	border-width: 1px;
}

#socials {
	float: left;
	width: 40vw;
	text-align:center;
	margin: 0;
}

i {
	margin: 0 1vw;
}

/*START OF MOBILE RESPONSE*/
.mobile {
  display: none;
}

.widescreen {
  display: block;
}

#close_icon {
  display: none;
}

button {
  background: none;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

button:hover {
  background: none;
  box-shadow: 0px 0px 0px transparent;
  border: 0px none transparent;
  text-shadow: 0px 0px 0px transparent;
}

@media screen and (max-width: 500px){
	.mobile{
		display: block;
	}

	.widescreen {
		display: none;
	}

	.icon {
		position: fixed;
		right: 10px;
		top: 5px;
		font-size: 25px;
	}

	#close_icon {
		color: black;
		z-index: 5;
	}

	header {
		text-align: center;
		margin: 0;
		padding: 0;
	}

	nav {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		background-color: white;
		color: black;
		opacity: .9;
		z-index: 3;
		overflow-x: hidden;
	}

	#mobile_nav_content {
		top: 25vh;
		margin-top: 100px;
	}

	nav a {
		position: relative;
		width: 100%;
		margin-top: 5vh;
		text-align: center;
		border-style: none;
		color: black;
		font-size: 25px;
	}

	nav a:hover {
		background-color: white;
		border-style: white;
	}

	nav a:active {
		background-color: white;
		border-style: white;
	}

	.page-container {
		margin: 0 3vw 10vw 3vw;
	}
}
